.my-profile {
    &__information {
        display: flex;
        align-items: flex-start;
        @media (max-width: $sw-xs-max) {
            justify-content: space-around;
        }
        @media (max-width: $sw-xx-max) {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 6.3rem;
        flex-shrink: 0;
        @media (max-width: $sw-xx-max) {
            margin-right: 0;
            margin-bottom: 2rem;
        }
        &__box {
            width: 11.5rem;
            height: 11.5rem;
            border-radius: 50%;
            background-color: #1d2025;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-bottom: 1rem;
            &:after {
                content: '';
                display: block;
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                pointer-events: none;
                z-index: 2;
                border: 1px solid #edc06f;
            }
            img {
                z-index: 3;
                position: relative;
            }
        }
        &__change {
            font-size: 1.2rem;
            text-decoration: underline;
            cursor: pointer;
            color: $white;
            transition: color .3s ease;
            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: $yellow;
                }
            }
        
            &:active {
                @media (min-width: $sw-xs-min) {
                    color: $rajah;
                }
            }
            input {
                width: 0;
                height: 0;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                left: -9999em;
                top: -9999em;
            }
		    @media (max-width: $sw-sm-max) {
                font-size: 1.1rem;
            }
        }
    }
    &__detail {
        width: 100%;
        max-width: 42.5rem;
        @media (max-width: $sw-xx-max) {
            max-width: none;
        }

        &__top {
            padding: 1.4rem 1.6rem;
            font-size: 1.2rem;
            background-color: $shark3;
		    @media (max-width: $sw-sm-max) {
                padding: 1.3rem 1.5rem;
            }
            @media (max-width: $sw-xx-max) {
                padding: 1.2rem 1.2rem;   
            }
            
        }
        &__row {
            display: flex;
            align-items: center;
            padding: 1.3rem 1.6rem;
            @media (max-width: $sw-sm-max) {
                padding: 1.2rem 1.5rem;
            }
            @media (max-width: $sw-xx-max) {
                padding: 1.1rem 1.2rem;
            }
            &:not(:last-child) {
                border-bottom: 1px solid $shark2;
            }
        }
        &__info {
            font-size: 1.2rem;
            width: 50%;
		    @media (max-width: $sw-sm-max) {
                font-size: 1.1rem;
            }

            img {
                max-width: 1.3rem;
                margin-right: 1.7rem;
                @media (max-width: $sw-xx-max) {
                    margin-right: 1rem;
                }
            }
        }
        &__value {
            font-size: 1.4rem;
            width: 50%;
		    @media (max-width: $sw-sm-max) {
                font-size: 1.3rem;
            }
		    @media (max-width: $sw-xx-max) {
                font-size: 1.1rem;
            }

            a {
                font-size: 1.2rem;
                color: $santasGray;
                text-decoration: underline;
                @media (max-width: $sw-xx-max) {
                    font-size: 1rem;
                }
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        color: $yellow;
                    }
                }
                &:active {
                    @media (min-width: $sw-xs-min) {
                        color: $rajah;
                    }
                }
            }
        }
        &__docs {
            cursor: pointer;
            color: $white;
            text-decoration: underline;
            transition: color .3s ease;
            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: $yellow;
                }
            }
        
            &:active {
                @media (min-width: $sw-xs-min) {
                    color: $rajah;
                }
            }
            input {
                width: 0;
                height: 0;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                left: -9999em;
                top: -9999em;
            }
        }
    }
}

.tooltip-btn {
    margin-left: 1.1rem;
    position: relative;
    @media (max-width: $sw-xx-max) {
        margin-left: 5px;
    }
    &:hover {
        .tooltip-btn__box {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
    img {
        width: 1.6rem;
        @media (max-width: $sw-xx-max) {
            width: 1rem;
        }
    }
    &__box {
        position: absolute;
        left: 0;
        top: calc(100% + 1rem);
        padding: 1rem;
        background-color: rgba(#555656, 0.3);
        border-radius: 1rem;
        padding: 1rem;
        text-align: left;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transform: translateY(5px);
        transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
        pointer-events: none;
        z-index: 5;
        @media (max-width: $sw-xs-max) {
            left: initial;
            right: 0;
            background-color: rgb(58,58,58);
        }
        p {
            margin-bottom: 5px;
            color: $white;
            font-size: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}