mixin my-profile(data)
	.my-profile
		.my-profile__inner
			.title
				h2 Мой профиль
			.my-profile__information
				.my-profile__photo
					.my-profile__photo__box
						img(src="s/images/useful/my-profile.png", alt="main-photo")
					label.my-profile__photo__change(for="upload_photo")
						span Обновить фото
						input#upload_photo(type="file")
				.my-profile__detail
					.my-profile__detail__top
						span Ваши данные
					.my-profile__detail__row
						.my-profile__detail__info
							img(src="s/images/useful/profil.png", alt="logo")
							span ФИО
						.my-profile__detail__value
							span Иванов Иван Иваныч
					.my-profile__detail__row
						.my-profile__detail__info
							img(src="s/images/useful/id.png", alt="logo")
							span Ваш id
						.my-profile__detail__value
							span 12411234
					.my-profile__detail__row
						.my-profile__detail__info
							img(src="s/images/useful/tel.png", alt="logo")
							span Номер телефона
						.my-profile__detail__value
							span +7 999 787 84 51
					.my-profile__detail__row
						.my-profile__detail__info
							img(src="s/images/useful/email.png", alt="logo")
							span Ваш email
						.my-profile__detail__value
							span example@gmail.com
					.my-profile__detail__row
						.my-profile__detail__info
							img(src="s/images/useful/verification.png", alt="logo")
							span Не верифицирован
						.my-profile__detail__value
							label.my-profile__detail__docs(for="upload_docs")
								span Загрузить документы
								input#upload_docs(type="file")
							button.tooltip-btn(type="button")
								img(src="s/images/useful/question.png", alt="question")
								.tooltip-btn__box
									p Загрузите
									p - Скан паспорта
									p - Ваше фото с паспортом

					.my-profile__detail__row
						.my-profile__detail__info
							img(src="s/images/useful/bonus.png", alt="logo")
							span Дата рождения
						.my-profile__detail__value
							span 26.11.1991


						

