mixin sidebar(data)
	.sidebar__inner
		.sidebar__logo
			img(src="s/images/useful/logo.png", alt="logo")
		.sidebar__text
			span.sidebar__title Добро пожаловать
			p Мы рады что вы выбрали нас!
		form.sidebar__form(action="javascript:void(0)")
			.sidebar__form__fields
				.form-control-wrap
					.form-control__icon
						img.form-control__icon__email(src="s/images/useful/sidebar-email.png", alt="email")
					input.form-control(type="text", placeholder="Эл. почта")
				.form-control-wrap
					.form-control__icon
						img.form-control__icon__lock(src="s/images/useful/lock.png", alt="lock")
					input.form-control(type="password", placeholder="Пароль")
			label.form-control-checkbox(for="remember_computer")
				input#remember_computer(type="checkbox")
				.form-control-checkbox__box
					+svg('icon-yellow-tick')
				.form-control-checkbox__text
					span Запомнить этот компьютер
			a.sidebar__form__forgot(href="javascript:void(0)") Забыли пароль? 
			button.sidebar__form__submit(type="button")
				span Войти
		.sidebar__register
			p У вас нет аккаунта? #[a.sidebar__form__forgot(href="javascript:void(0)") Зарегистрируйтесь]