.landing-sidebar{
    width: 34.375%;
    padding-left: 13rem;
    background-color: #1d2025;
    @media (max-width: $sw-md-max) {
        padding-left: 4.8rem;
    }
    @media (max-width: $sw-sm-max) {
        padding-left: 2rem;
    }
    @media (max-width: $sw-xs-max) {
        position: fixed;
        left: 0;
        // top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        width: auto;
        top: 7rem;
        padding-left: 0;
        
        z-index: 50;
        transform: scale(0.95);
        transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.5s, opacity cubic-bezier(0.77, 0, 0.175, 1) 0.5s, visibility cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
        pointer-events: none;
    }
    .is-opened & {
        // width: 100%;
        @media (max-width: $sw-xs-max) {
            width: 100%;
            visibility: visible;
            transform: scale(1);
            opacity: 1;
            pointer-events: all;
        }
    }
}
.sidebar {
    &__inner {
        width: 100%;
        max-width: 40rem;
        position: sticky;
        top: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: $sw-xs-max) {
            max-width: none;
            justify-content: flex-start;
            align-items: center;
            padding-top: 4rem;
        }
    }

    &__logo {
        margin-bottom: 3rem;
        @media (max-width: $sw-xs-max) {
            display: none;
        }
    }

    &__text {
        margin-bottom: 3rem;

        p {
            margin-bottom: 0;
            font-size: 1.4rem;
            color: #b4b4b6;
            @media (max-width: $sw-xs-max) {
                text-align: center;
            }
        }
    }

    &__title {
        color: $white;
        font-size: 2.7rem;
        display: block;
        width: 100%;
        margin-bottom: 4px;
    }

    &__form {
        margin-bottom: 3.7rem;
        &__submit {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 26rem;
            height: 6.5rem;
            background-color: #2f3339;
            cursor: pointer;
            transition: background-color .3s ease;
            text-transform: uppercase;
            font-size: 1.8rem;
            line-height: 1em;
            color: $white;

            &:hover {
                background-color: lighten(#2f3339, 5%);
            }
        }
        &__fields {
            margin-bottom: 4.3rem;
        }
        &__forgot {
            color: $yellow;
            font-size: 1.4rem;
            margin-left: 4px;
            display: inline-flex;
            margin-bottom: 4.3rem;
        }
    }

    &__register {
        p {
            font-size: 1.4rem;
            color: $white;
        }
        a {
            font-size: 1.4rem;
            color: $yellow;
            text-decoration: underline;
            text-underline-offset: 3px;
            &:hover {
                color: $white;
            }
        }
    }
}