.earn-money {
    background-image: url('../../s/images/useful/section4-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 9.1rem;
    padding-bottom: 6.1rem;
    padding-right: 10rem;
    @media (max-width: $sw-md-max) {
        padding-top: 3rem;
        padding-right: 0;
    }
    @media (max-width: $sw-sm-max) {
        padding-bottom: 1rem;
    }
    @media (max-width: 599px) {
        padding-bottom: 3rem;
    }
    .section-title {
        margin-right: 4rem;
        p {
            width: 100%;
            max-width: 33rem;
            @media (max-width: $sw-sm-max) {
                font-size: 1.4rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.2rem;
            }
        }
    }
    &__inner {
        width: 100%;
        max-width: 74.5rem;
        margin-left: auto;
        padding-right: 1.5rem;
        display: flex;
        align-items: center;
        @media (max-width: $sw-md-max) {
            max-width: 66rem;
        }
        @media (max-width: $sw-sm-max) {
            padding-right: 2rem;
            padding-left: 2rem;
        }
        @media (max-width: $sw-xs-max) {
            max-width: none;
        }
        @media (max-width: 599px) {
            flex-wrap: wrap;
        }
    }
    &__photo {
        img {
            @media (max-width: 599px) {
                width: 100%;
            }
        }
    }
}