mixin earn-money(data)
	.earn-money
		.earn-money__inner
			.section-title
				h1 Зарабатывайте #[br]деньги #[span.thin-text Online!]
				p Лучшая Торговая платформа для торговли,  получай прибыль уже сегодня и выводы куда тебе удобнее.
			.earn-money__photo
				img(src="s/images/useful/laptops.png", alt="laptops")
			