mixin withdrawal-of-funds(data)
	.withdrawal-of-funds
		.withdrawal-of-funds__inner
			.title
				h2 Вывод средств
			+payment-method()
			.withdrawal-of-funds__block
				.withdrawal-of-funds__block__top
					form.withdrawal-of-funds__form(action="javascript:void(0)")
						span Введите сумму вывода
						.withdrawal-of-funds__block__field
							.form-control-wrap.form-control-wrap--profile
								input.form-control.form-control--profile(type="text", placeholder="500")
							.withdrawal-of-funds__block__icon
								span ₽
						span Ваши реквизиты для вывода
						.withdrawal-of-funds__block__field
							.form-control-wrap.form-control-wrap--profile
								input.form-control.form-control--profile(type="text", placeholder="4276  7700  1234  5678")
							.withdrawal-of-funds__block__icon
								img(src="s/images/useful/card-bank.png", alt="logo")
					.withdrawal-of-funds__block__detail
						span Вам будет зачислено
						h2 500,00 ₽
						span Комиссия составит
						h2 0,00 ₽
				.withdrawal-of-funds__block__bottom
					.withdrawal-of-funds__block__method
						span Способ вывода
						.withdrawal-of-funds__block__method__content
							img(src="s/images/useful/visa-master.png", alt="logo")
							span VISA / MasterCard / Maestro

					.withdrawal-of-funds__block__bottom__bring-out
						.withdrawal-of-funds__block__bottom__sum
							span RUB
							h2 500
						button.btn.active(type="submit")
							span Вывести





				

					

