.withdrawal-of-funds {
    .title {
        margin-bottom: 3.5rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2rem;
        }
    }
    &__form {
        @media (max-width: 550px) {
            width: 100%;
        }
    }
    
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: 1.1rem;
        padding: 1.5rem 4.8rem 3.5rem 2.2rem;
        background-color: $shark3;
        @media (max-width: $sw-xs-max) {
            padding: 1.5rem;
        }

        h2 {
            font-size: 2.5rem;
            margin-bottom: 5px;
            @media (max-width: $sw-xs-max) {
                font-size: 2rem;
            }
        }
        span {
            display: block;
            font-size: 1.2rem;
            margin-bottom: 6px;
            color: $aluminium;
        }
        &__top {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            border-bottom: 1px solid $shark2;
            padding-bottom: 1.4rem;
            @media (max-width: 550px) {
                flex-direction: column;
                align-items: flex-end;
            }
        }
        &__field {
            position: relative;
        }
        &__icon {
            position: absolute;
            top: 55%;
            right: 1.8rem;
            transform: translateY(-50%);
            color: $rajah2;
            span {
                color: $rajah2;
                font-size: 2.5rem;
            }
        }
        &__detail {
            padding-top: 2rem;
            text-align: end;
            @media (max-width: 550px) {
                padding-top: 1rem;   
            }
        }

        &__bottom {
            padding-top: 2.2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: $sw-xs-max) {
                padding-top: 1.5rem;
            }
            @media (max-width: 550px) {
                align-items: flex-start;
                flex-direction: column;
            }

            &__sum {
                text-align: right;
                margin-right: 1.5rem;
                @media (max-width: 550px) {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: flex-end;
                    justify-content: flex-end;
                    margin-right: 0;
                    margin-bottom: 8px;
                }

                span {
                    margin-bottom: 0;
                    @media (max-width: 550px) {
                        margin-left: 5px;
                    }

                }
                h2 {
                    font-size: 2rem;
                    margin-bottom: 0;
                }
            }
            &__bring-out {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                @media (max-width: 550px) {
                    flex-direction: column;
                    align-items: flex-end;
                    width: 100%;
                }
                .btn {
                    width: 15.4rem;
                    @media (max-width: 550px) {
                        width: 100%;
                    }

                    span {
                        font-size: 1.4rem;
                        margin-bottom: 0;
                    }
                }
            }
        }
        &__method {
            span {
                margin-bottom: 1.1rem;
            }
            &__content {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 1rem;
                span {
                    font-size: 1rem;
                    margin-bottom: 0;
                }
            }
            img {
                width: 6.8rem;
                margin-right: 1.1rem;
            }
        }
    }
}