mixin top-menu-buttons(data)
	.top-menu
		.top-menu__inner
			.top-menu__item
				a.top-menu__block(href="javascript:void(0)")
					img(src="s/images/useful/replenish-yellow.png", alt="logo")
					span Пополненние #[br]счета
			.top-menu__item
				a.top-menu__block(href="javascript:void(0)")
					img(src="s/images/useful/bring-out.png", alt="logo")
					span Вывод #[br]средств
			.top-menu__item
				a.top-menu__block(href="javascript:void(0)")
					img(src="s/images/useful/history-of-operation.png", alt="logo")
					span История #[br]операций
			.top-menu__item
				a.top-menu__block(href="javascript:void(0)")
					img(src="s/images/useful/types-of-accounts.png", alt="logo")
					span Типы #[br]счетов