.top-menu {
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: 3.8rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2rem;
        }
    }
    &__item {
        width: calc(100% / 4);
        padding: 0 5px;
        min-height: 5.6rem;
        a {
            color: $white;
            height: 100%;
        }
        @media (max-width: $sw-xs-max) {
            padding: 0 5px;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 1rem;
        }
        @media (max-width: 550px) {
            width: calc(100% / 2);
        }
        br {
            @media (max-width: 550px) {
                display: none;
            }
        }
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1.4rem 1.6rem 1.1rem;
        border: 1px solid $shark2;
    	transition: border-color .3s ease;
        font-size: 1.4rem;
        line-height: 1.2em;
        @media (max-width: $sw-sm-max) {
            font-size: 1.2rem;
        }
        @media (max-width: $sw-xx-max) {
            justify-content: center;
        }
        @media (max-width: 550px) {
            padding: 1rem;
        }

        &:hover {
            @media (min-width: $sw-xs-min) {
                border-color: $yellow;
            }
        }
        &:active {
            @media (min-width: $sw-xs-min) {
                border-color: $rajah;
            }
        }
        img {
            margin-right: 1rem;
            @media (max-width: $sw-sm-max) {
                margin-right: 1.4rem;
            }
            @media (max-width: $sw-xs-max) {
                margin-right: 1rem;
            }
        }
    }
}