.chart-sidebar-right {
    width: 15.5rem;
    height: 100%;
    background-color: $shark3;

    .gray {
        font-size: 1.4rem;
        color: $santasGray;
        margin-bottom: 4px;
    }
    .yellow	{
		font-size: 1.8rem;
		color: $robRoy;
        display: inline;
        margin-right: 5px;
	}
    &__button {
        position: relative;
        &-wrap {
            padding-top: 3px;
        }

        &__item {
            width: 100%;
            font-size: 1.8rem;
            padding: 1.5rem 1rem 1rem 1.4rem;
            background-color: $shark4;
            text-align: start;
            color: $white;
            display: flex;
            flex-direction: column;
            img {
                margin-right: 1rem;
                display: inline;
            }
            span {
                display: inline;
            }
        }

        &__gradation {
            display: flex;
            width: 100%;
            border-top: 1px solid $shark3;
            height: 2.7rem;
            margin-bottom: 5px;
            &__item {
                background-color: $shark2;
                width: calc(100% / 2);
                color: $white;
                font-size: 2rem;
    			transition: background-color 0.3s ease;
            
                &:not(:last-child) {
                    border-right: 1px solid $shark3;
                }
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        background-color: #595e66;
                    }
                }
                &:active {
                	@media (min-width: $sw-xs-min) {
                		background-color: #6d6e72;
                	}
                }
            }
        }
    }
    &__time {
        &__dropdown {
            position: absolute;
            display: flex;
			right: calc(100% + 2px);
			top: 0;
			width: 18.2rem;
			height: 21.7rem;
			background-color: $shark4;
			opacity: 0;
			visibility: hidden;
			transition: transform .3s ease, opacity .3s ease, visibility .3s ease;
			.js-time-wrapper.is-active & {
				opacity: 1;
				visibility: visible;
				transform: none;
			}
            &__top {
                font-size: 1.2rem;
                padding: 1.2rem 1.2rem 1.7rem 1.4rem;
            }
            &__item {
                font-size: 1.2rem;
                padding: 4px 4px 8px 2.4rem;
                color: $santasGray;
                width: 100%;
            }
            .is-selected {
                background-color: $sushi;
                color: $white;
            }
            &__list {
                padding: 0 3px;
            }
            &__from {
                border-right: 1px solid $mako;
            }
            &__borders {
                width: 100%;
            }
        }
    }
    &__income {
        width: 100%;
        font-size: 1.8rem;
        padding: 2rem 1rem 1.7rem 1.4rem;
        background-color: $shark4;
        text-align: start;
        color: $white;
        margin-bottom: 6px;
        .gray {
            display: inline;
        }
        .yellow	{
            font-size: 2.3rem;
        }
        span {
            margin-bottom: 3px;
            display: block;
        }
        &__sum {
            font-size: 2.3rem;
        }
    }
    .btn {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;
        height: 11.2rem;
        text-transform: uppercase;
        @media (max-width: 1599px) {
            height: 9rem;
        }
        &:not(:last-child) {
            margin-bottom: 5px;
        }
        img {
            max-width: none;
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}