mixin graphics-sidebar-right(data)
	.chart-sidebar-right
		.chart-sidebar-right__inner
			.chart-sidebar-right__button-wrap
				.chart-sidebar-right__button
					button.chart-sidebar-right__button__item(type="button")
						span.gray Сумма
						span #[span.yellow $] 376
					.chart-sidebar-right__button__gradation
						button.chart-sidebar-right__button__gradation__item(type="button")
							span -
						button.chart-sidebar-right__button__gradation__item(type="button")
							span +
				.chart-sidebar-right__button.js-time-wrapper
					button.chart-sidebar-right__button__item.js-time-trigger(type="button")
						span.gray Время
						span
							img(src="s/images/useful/time.png", alt="logo")
							span 22:45
					.chart-sidebar-right__time__dropdown
						.chart-sidebar-right__time__dropdown__borders
							.chart-sidebar-right__time__dropdown__top
								span От 15 минут
							.chart-sidebar-right__time__dropdown__list.chart-sidebar-right__time__dropdown__from
								button.chart-sidebar-right__time__dropdown__item(type="button")
									span 10 мин.
								button.chart-sidebar-right__time__dropdown__item.is-selected(type="button")
									span 15 мин.
								button.chart-sidebar-right__time__dropdown__item(type="button")
									span 30 мин.
								button.chart-sidebar-right__time__dropdown__item(type="button")
									span 1 час
								button.chart-sidebar-right__time__dropdown__item(type="button")
									span 2 часа 


						.chart-sidebar-right__time__dropdown__borders
							.chart-sidebar-right__time__dropdown__top
								span До 5 минут
							.chart-sidebar-right__time__dropdown__list
								button.chart-sidebar-right__time__dropdown__item(type="button")
									span 1 мин.
								button.chart-sidebar-right__time__dropdown__item(type="button")
									span 2 мин.
								button.chart-sidebar-right__time__dropdown__item(type="button")
									span 3 мин.
								button.chart-sidebar-right__time__dropdown__item(type="button")
									span 4 мин.
								button.chart-sidebar-right__time__dropdown__item(type="button")
									span 5 мин.


					.chart-sidebar-right__button__gradation
						button.chart-sidebar-right__button__gradation__item(type="button")
							span -
						button.chart-sidebar-right__button__gradation__item(type="button")
							span +
			.chart-sidebar-right__income
				span #[.gray Доход] + 73%
				.chart-sidebar-right__income__sum
					span 5,421 #[.yellow $]
			button.btn.btn-green(type="button")
				img(src="s/images/useful/above.png", alt="logo")
				span выше
			button.btn.btn-red(type="button")
				img(src="s/images/useful/lower.png", alt="logo")
				span ниже
