@mixin font-face ($fontname, $fontfile, $fontweight: normal, $fontstyle: normal) {
	@font-face {
		font-family: $fontname;
		src: url('../fonts/' + $fontfile + '.eot');
		src: url('../fonts/' + $fontfile + '.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/' + $fontfile + '.woff') format('woff'),
			 url('../fonts/' + $fontfile + '.ttf') format('truetype'),
			 url('../fonts/' + $fontfile + '.svg##{fontname}') format('svg');
		font-weight: $fontweight;
		font-style: $fontstyle;
	}
};

@include font-face('Montserrat', 'Montserrat-Regular/Montserrat-Regular', 400);
@include font-face('Montserrat', 'Montserrat-Italic/Montserrat-Italic', 400, italic);
@include font-face('Montserrat', 'Montserrat-Medium/Montserrat-Medium', 500);
@include font-face('Montserrat', 'Montserrat-MediumItalic/Montserrat-MediumItalic', 500, italic);
@include font-face('Montserrat', 'Montserrat-Bold/Montserrat-Bold', 600);
@include font-face('Montserrat', 'Montserrat-BoldItalic/Montserrat-BoldItalic', 600, italic);
@include font-face('Montserrat', 'Montserrat-ExtraBold/Montserrat-ExtraBold', 700);
@include font-face('Montserrat', 'Montserrat-ExtraBoldItalic/Montserrat-ExtraBoldItalic', 700, italic);
@include font-face('Montserrat', 'Montserrat-Black/Montserrat-Black', 800);
@include font-face('Montserrat', 'Montserrat-BlackItalic/Montserrat-BlackItalic', 800, italic);

@include font-face('Gilroy', 'Gilroy-Thin/Gilroy-Thin', 100);
@include font-face('Gilroy', 'Gilroy-ThinItalic/Gilroy-ThinItalic', 100, italic);
@include font-face('Gilroy', 'Gilroy-UltraLight/Gilroy-UltraLight', 200);
@include font-face('Gilroy', 'Gilroy-UltraLightItalic/Gilroy-UltraLightItalic', 200, italic);
@include font-face('Gilroy', 'Gilroy-Light/Gilroy-Light', 300);
@include font-face('Gilroy', 'Gilroy-LightItalic/Gilroy-LightItalic', 300, italic);
@include font-face('Gilroy', 'Gilroy-Regular/Gilroy-Regular', 400);
@include font-face('Gilroy', 'Gilroy-RegularItalic/Gilroy-RegularItalic', 400, italic);
@include font-face('Gilroy', 'Gilroy-Medium/Gilroy-Medium', 500);
@include font-face('Gilroy', 'Gilroy-MediumItalic/Gilroy-MediumItalic', 500, italic);
@include font-face('Gilroy', 'Gilroy-Semibold/Gilroy-Semibold', 600);
@include font-face('Gilroy', 'Gilroy-SemiboldItalic/Gilroy-SemiboldItalic', 600, italic);
@include font-face('Gilroy', 'Gilroy-Bold/Gilroy-Bold', 700);
@include font-face('Gilroy', 'Gilroy-BoldItalic/Gilroy-BoldItalic', 700, italic);
@include font-face('Gilroy', 'Gilroy-Extrabold/Gilroy-Extrabold', 800);
@include font-face('Gilroy', 'Gilroy-ExtraboldItalic/Gilroy-ExtraboldItalic', 800, italic);
@include font-face('Gilroy', 'Gilroy-Black/Gilroy-Black', 900);
@include font-face('Gilroy', 'Gilroy-BlackItalic/Gilroy-BlackItalic', 900, italic);
@include font-face('Gilroy', 'Gilroy-Heavy/Gilroy-Heavy', 950);
@include font-face('Gilroy', 'Gilroy-HeavyItalic/Gilroy-HeavyItalic', 950, italic);