.l-wrapper {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-grow: 1;
}

.landing-content {
	width: 65.625%;
	position: relative;
	border-right: 1px solid $shark2;

	@media (max-width: $sw-xs-max) {
		width: 100%;
	}
}

.profile-page {
	padding-top: 6.6rem;
	background: linear-gradient(to right, $shark3 50%, $dark 50%);
	
	@media (max-width: $sw-xs-max) {
		padding-top: 5.6rem;
		background: $dark;
	}
}

.profile-inner {
	display: flex;
}

.graphics-inner {
	display: flex;
	width: 100%;
}

.profile-content {
	width: 76.5%;
	background-color: $dark;
	padding: 3.8rem 4.5rem 2rem 5.3rem;

	@media (max-width: $sw-md-max) {
		padding: 3rem 10rem 2rem 4rem;
	}

	@media (max-width: $sw-sm-max) {
		padding: 3rem 2rem 2rem 4rem;
	}

	@media (max-width: $sw-xs-max) {
		width: 100%;
		padding: 3rem 1rem 1rem;
	}

	@media (max-width: $sw-xx-max) {
		padding: 3rem 0 1rem 0;
	}
}

.graph-page {
	overflow: hidden;
	overflow-x: auto;
	&__content {
		height: 100vh;
		display: flex;
		flex-direction: column;
		min-width: 1440px;
	}

	&-main {
		flex-grow: 1;
	}
}

.graphics-content {
	// background-image: url('../../s/images/useful/lines.jpg');
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: center;
	width: 100%;
	// background-color: red;
	// width: 100%;
}

a {
	transition: color .3s ease;
	color: $white;

	&:hover {
		@media (min-width: $sw-xs-min) {
			color: $yellow;
		}
	}

	&:active {
		@media (min-width: $sw-xs-min) {
			color: $rajah;
		}
	}
}

.section-title {
	margin-bottom: 3rem;

	.thin-text {
		color: $yellow;
		font-size: 2.4rem;

		@media (max-width: $sw-xs-max) {
			font-size: 2rem;
		}
	}

	h1 {
		.thin-text {
			font-size: 4.8rem;
			font-weight: 700;

			@media (max-width: $sw-sm-max) {
				font-size: 3rem;
				margin-bottom: 2.8rem;
			}
		}
	}
}

h1 {
	font-size: 4.8rem;
	font-weight: 200;
	margin-bottom: 3.1rem;

	@media (max-width: $sw-sm-max) {
		font-size: 3rem;
		margin-bottom: 1.8rem;
	}

	@media (max-width: $sw-xs-max) {
		font-size: 2.7rem;
		margin-bottom: 1.5rem;
	}
}

h2 {
	font-size: 3.6rem;
	font-weight: 200;
	margin-bottom: 3.1rem;

	@media (max-width: $sw-sm-max) {
		font-size: 3.2rem;
		margin-bottom: 1.8rem;
	}

	@media (max-width: $sw-xs-max) {
		font-size: 2.8rem;
	}

	@media (max-width: $sw-xs-max) {
		font-size: 2.6rem;
		margin-bottom: 1.6rem;
	}

	b {
		font-weight: 700;
	}
}


p {
	font-size: 1.6rem;
	line-height: 1.5em;
}

span {
	b {
		font-weight: 700;
		// font-size: 1.2rem;
	}

	.thin-text {
		display: inline;
		font-weight: 500;
		font-size: 1.4rem;
	}

	.green {
		display: inline;
		color: $sushi;
	}

	.bigger {
		font-weight: 400;
		font-size: 1.4rem;
		color: $white;

		@media (max-width: 550px) {
			font-size: 1.2rem;
		}
	}
}

.title {

	// @media (max-width: $sw-xs-max) {
	// 	width: 100%;
	// 	text-align: center;
	// }
	h2 {
		font-weight: 500;
		font-size: 2.4rem;
		margin-bottom: 2.5rem;

		@media (max-width: $sw-sm-max) {
			font-size: 2.2rem;
			margin-bottom: 2rem;
		}

		@media (max-width: $sw-xs-max) {
			font-size: 2.1rem;
			margin-bottom: 1rem;
		}
	}
}

.form-control {
	background-color: #2f3339;
	border: none;
	outline: none;
	box-shadow: none;
	border-left: 2px solid $yellow;
	width: 22rem;
	height: 4rem;
	padding: 0 1.2rem;
	font-size: 1.6rem;
	color: $white;

	@include placeholder {
		font-size: 1.6rem;
		color: $white;
		opacity: 1;
		transition: opacity .3s ease;
	}

	&:focus {
		background-color: #2f3339;
		outline: none;
		box-shadow: none;
		border: none;
		border-left: 2px solid $yellow;
		font-size: 1.6rem;
		color: $white;

		@include placeholder {
			opacity: 0;
		}
	}

	&-wrap {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 1.9rem;
		// &--profile {
		// 	margin-bottom: 9px;
		// }
	}

	&--profile {

		border: none;
		border-radius: 0;
		background-color: $dark;
		height: 5.2rem;
		width: 30.5rem;
		padding: 0 5rem 0 1.7rem;
		font-size: 2.5rem;

		@include placeholder {
			font-size: 2rem;
		}

		@media (max-width: 550px) {
			width: 100%;
		}

		&:focus {
			font-size: 2.5rem;
			border: none;
			background-color: $dark;
		}

	}

	&__icon {
		width: 4rem;
		height: 4rem;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		&__lock {
			margin-left: 4px;
		}
	}

	&-checkbox {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 1.8rem;
		margin-left: 4px;
		cursor: pointer;

		input {
			width: 0;
			height: 0;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: -9999em;
			top: -9999em;

			&:checked {
				&+.form-control-checkbox__box {
					.icon {
						opacity: 1;
					}
				}
			}
		}

		&__box {
			margin-right: 1rem;
			width: 1.8rem;
			height: 1.8rem;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #828282;
			flex-shrink: 0;

			.icon-yellow-tick {
				font-size: 1.2rem;
				color: $yellow;
				opacity: 0;
				transition: opacity .3s ease;
			}
		}

		&__text {
			color: $white;
			font-size: 1.4rem;
		}
	}
}

.radiobutton {
	position: relative;

	&:not(:last-child) {
		margin-right: 3.6rem;
	}

	&-wrap {
		width: 100%;
		display: flex;
		align-items: center;
	}

	&__item {
		width: 100%;
		height: 100%;
		position: relative;
		margin-bottom: 0;
		display: flex;

		input {
			width: 0;
			height: 0;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: -9999em;
			top: -9999em;

			&:checked {
				&+.radiobutton__item__inner {
					.radiobutton__select-icon {
						&::after {
							background-color: $rajah2;
						}
					}
				}
			}
		}

		&__inner {
			width: 100%;
			display: flex;
			// flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			background-color: transparent;
			border-radius: 50%;
			transition: border-color .3s ease;
			cursor: pointer;

		}
	}

	&__select-icon {
		width: 2rem;
		height: 2rem;
		border: 1px solid $shark2;
		background-color: transparent;
		border-radius: 50%;
		margin-right: 1.1rem;

		&::after {
			position: absolute;
			display: block;
			content: '';
			height: 1rem;
			width: 1rem;
			background-color: transparent;
			border-radius: 50%;
			top: 28%;
			left: 5px;
			transform: translateX(-50%);
			transition: color .3s ease;
			mix-blend-mode: normal;
			transform: matrix(-1, 0, 0, 1, 0, 0);
		}
	}

	&__title {
		font-weight: 500;
		font-size: 1.2rem;
		line-height: 1em;
		color: $white;
	}
}