.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-star {
  width: 1.046875em;
}

.icon-operator {
  width: 0.8984375em;
}

.icon-devices {
  width: 1.1982421875em;
}

.icon-cash-around {
  width: 1.001953125em;
}

.icon-cash {
  width: 1.3447265625em;
}

.icon-loudspeaker {
  width: 1.05078125em;
}

.icon-tick {
  width: 1.4287109375em;
}

.icon-chevron {
  width: 1.625em;
}

.icon-logo {
  width: 2.41015625em;
}

.icon-menu {
  width: 2.642578125em;
}

.icon-chevron2 {
  width: 0.5615234375em;
}

.icon-feedbacks-dekor {
  width: 1.11328125em;
}

.icon-logo-sm {
  width: 3.26953125em;
}

.icon-chevron {
  width: 1.875em;
}

.icon-chevron2 {
  width: 1.77734375em;
}

.icon-facebook {
  width: 0.5087890625em;
}

.icon-odnoklassniki {
  width: 0.5771484375em;
}

.icon-vk {
  width: 1.66015625em;
}

.icon-google {
  width: 0.9775390625em;
}