//-----------   INCLUDES   --------------

//- helpers
include ../helpers/paths
include ../helpers/_mixins

//- components
include ../components/head/head
include ../components/graphics-header/graphics-header
include ../components/graphics-sidebar-left/graphics-sidebar-left
include ../components/graphics-sidebar-right/graphics-sidebar-right
//- include ../components/footer/footer

//-----------   INCLUDES END  --------------

doctype html
html(lang='en')
	block head
		+head({'title':'Hello'})
	body
		.l-wrapper
			.graph-page
				.graph-page__content
					block graphics-header
						+graphics-header()
					main.graph-page-main
						.graphics-inner
							block graphics-sidebar-left
							.graphics-content
								block content
							block graphics-sidebar-right
			
		script(src=route.js + "main.js")