//-----------   INCLUDES   --------------

//- helpers
include ../helpers/paths
include ../helpers/_mixins

//- components
include ../components/head/head
include ../components/header/header
include ../components/footer/footer
include ../components/sidebar/sidebar

//-----------   INCLUDES END  --------------

doctype html
html(lang='en')
	block head
		+head({'title':'Hello'})
	body
		.l-wrapper
			main
				.landing-content
					block header
						+header()
					block content
					block footer
						+footer()
				.landing-sidebar
					+sidebar()
			
		script(src=route.js + "main.js")