//-----------   INCLUDES   --------------

//- helpers
include ../helpers/paths
include ../helpers/_mixins

//- components
include ../components/head/head
include ../components/profile-header/profile-header
include ../components/footer/footer
include ../components/profile-sidebar/profile-sidebar

//-----------   INCLUDES END  --------------

doctype html
html(lang='en')
	block head
		+head({'title':'Hello'})
	body
		.l-wrapper
			block profile-header
				+profile-header()
			main.profile-page
				.container
					.profile-inner
						block profile-sidebar
						.profile-content
							block content
			
		script(src=route.js + "main.js")