.chart {
    background-image: url('../../s/images/useful/big-lines.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    &__actions {
        position: fixed;
        left: 50%;
        bottom: 8.5rem;
        transform: translateX(-50%);
        display: flex;
        @media (max-width: 1599px) {
            bottom: 5rem;
        }
    }
    &__buttons {
        display: flex;
        &:not(:last-child) {
            margin-right: 3.6rem;
            @media (max-width: 1599px) {
                margin-right: 2.5rem;
            }
        }
        &__item {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            font-size: 4rem;
            color: $osloGray;
            background-color: $shark5;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease;
            @media (max-width: 1599px) {
                font-size: 3.4rem;
            }
			&:hover {
				@media (min-width: $sw-xs-min) {
					background-color: #383b46;
				}
			}
			&:active {
                @media (min-width: $sw-xs-min) {
                    background-color: lighten(#383b46, 5%);
				}
			}
            .icon {
                font-size: 1.2rem;
                transform: rotate(90deg);
                @media (max-width: 1599px) {
                    font-size: 1rem;
                }
            }
            img {
                @media (max-width: 1599px) {
                    width: 1.6rem;
                }
            }
            &:not(:last-child) {
                margin-right: 1.3rem;
            }
        }
        .right-icon {
            transform: rotate(180deg);
        }
    }
}