mixin graphics(data)
	.chart
		.chart__actions
			.chart__buttons
				button.chart__buttons__item(type="button")
					span -
				button.chart__buttons__item(type="button")
					span +
			.chart__buttons
				button.chart__buttons__item(type="button")
					+svg('icon-chevron2')
				button.chart__buttons__item.right-icon(type="button")
					+svg('icon-chevron2')
			.chart__buttons
				button.chart__buttons__item(type="button")
					img(src="s/images/useful/return.png", alt="logo")


		