mixin operations(data)
	.operations
		.operations__inner
			.title
				h2 История операций
			.operations__content-wrap
				.operations__card
					.operations__card__top
						.operations__card__top__main
							.operations__card__line
								span 27 мая 2020 г.
								.operations__card__line__text
									span #[.green Завершено]
									img(src="s/images/useful/green-tick.png", alt="logo")
							.operations__card__line
								span #[.bigger Пополнение]
								span #[.bigger + 10 000, 00 $]
						//- button.operations__card__top__button(type="button")
						.operations__card__top__button
							img(src="s/images/useful/chevron-above.png", alt="logo")
					.operations__card__info-card
						img(src="s/images/useful/visa-master.png", alt="logo")
						span 4276 77** **** **23
					.operations__card__main
						.operations__card__main__replenishment
							span #[.bigger Пополнение]
							span #[.bigger + 10 000, 00 $]
						.operations__card__line
							span Время сделки
							span #[b 27 мая 2020 г., 15:37]
						.operations__card__line
							span Статус
							.operations__card__line__text
								span #[.green Завершено]
								img(src="s/images/useful/green-tick.png", alt="logo")
					.operations__card__button
						button.btn.active(type="submit")
							img(src="s/images/useful/copy.png", alt="logo")
							span Копировать транзакцию
					.operations__card__footer
						span Свяжитесь с нами, если у вас есть вопросы
						a(href="mailto:support@blackbroker.com") support@blackbroker.com


				.operations__info-wrap
					.operations__info
						.operations__info__text
							span Баланс:
						.operations__info__balance
							h2 500,00 ₽
						.operations__info__filters
							span Фильтры
					
					form.operations__form(action="javascript:void(0)")
						.operations__form__item
							.operations__form__text
								span Дата и время платежа
							.form-control-wrap
								.input-wrap.required
									input.form-control-datepicker(placeholder="Все" type="text" id="paymentDate", autocomplete="off")
									img(src="s/images/useful/calendar.png", alt="calendar")
						.operations__form__item
							.operations__form__text
								span Тип
							.form-control-wrap
								.input-wrap
									select.js-select(id="type-form" name="form" data-placeholder='Все')
										option(value="")
										option(value="1") 01
										option(value="2") 02
						.operations__form__item
							.operations__form__text
								span Статус
							.form-control-wrap
								.input-wrap
									select.js-select(id="status-form" name="form" data-placeholder='Все')
										option(value="")
										option(value="1") 01
										option(value="2") 02


				
			