.operations {
    .title {
        margin-bottom: 3rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2rem;
        }
    }
    span {
        font-size: 1.2rem;
        color: $santasGray;
    }
    &__content-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: $sw-xx-max) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }
    &__card {
        width: 40rem;
        background-color: $shark3;
        padding: 1.7rem 1.6rem 12.1rem 2.2rem;
        margin-top: 6px;
        margin-bottom: 3rem;
        @media (max-width: $sw-xs-max) {
            padding: 1.3rem 1.4rem 2.2rem 1.3rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 100%;
            order: 1;
            padding: 1rem 1.1rem 2rem 1rem;
        }
        img {
            width: 1.6rem;
        }
        &__top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 1.6rem;
            border-bottom: 1px solid $shark2;
            &__main {
                width: 100%;
            }
            &__button {
                height: 3.8rem;
                padding-left: 1.5rem;
                padding-right: 1.2rem;
                margin-left: 2.3rem;
                border-left: 1px solid $shark2;
                display: flex;
                align-items: center;
            }
        }
        &__line {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            &__text {
                display: flex;
                align-items: center;
                img {
                    margin-left: 1rem;
                }
            }
        }
        &__info-card {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 1.8rem;
            img {
                width: 10.5rem;
                margin-bottom: 1.6rem;
            }
            span {
                font-size: 1rem;
            }
        }
        &__main {
            padding: 2.5rem 6px 2.3rem 3px;

            &__replenishment {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                padding: 0 1.3rem 0 1rem;
                width: 100%;
                height: 3.3rem;
                background-color: $shark4;
                margin-bottom: 2rem;
            }
            .operations__card__line {
                padding: 0 1.3rem 0 1rem;
                &:not(:last-child) {
                    margin-bottom: 1.7rem;
                }
                span {
                    font-size: 1rem;
                    b {
                        color: $white;
                        font-weight: 500;
                    }
                    .green {
                        font-size: 1.2rem;
                    }
                }
            }
        }
        &__button {
            margin-bottom: 2.3rem;
            .btn {
                height: 3.2rem;
            }
            img {
                margin-right: 1rem;
            }
        }
        &__footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 2.5rem;
            border-bottom: 1px solid $shark2;
            span {
                font-size: 1rem;
                margin-bottom: 3px;
            }
        }
    }

    &__info {
        text-align: right;
        margin-bottom: 1.7rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 1.5rem;
        }
        @media (max-width: $sw-xx-max) {
            text-align: center;
        }

        &-wrap {
            width: 26rem;
            @media (max-width: $sw-xx-max) {
                width: 100%;
                order: 0;
            }

        }
        &__balance {
            position: relative;
        
            &::after {
                content: '';
                display: block;
                height: 1px;
                width: 2.8rem;
                position: absolute;
                background-color: $rajah2;
                top: 5.2rem;
                right: 0;
                @media (max-width: $sw-xs-max) {
                    top: 4.2rem;
                }
                @media (max-width: $sw-xx-max) {
                    right: initial;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            h2 {
                font-size: 2.4rem;
            }
        }
        &__filters {
            padding-right: 1px;
            span {
                color: $white;
            }
        }
        &__balance {
            h2 {
                margin-bottom: 0;
            }
            margin-bottom: 4.7rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 3rem;
            }
        }
        &__text {
            margin-bottom: 8px;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 5px;
            }
        }
    }
    .select2-selection--single {
        width: 100%;
        height: 3.6rem;

    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        padding: 0 1.6rem 0;
        font-size: 1.1rem;
    }
    .select2-selection__arrow {
        width: 1.2rem !important;
    }
    .select2-selection__placeholder {
        font-size: 1.1rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: end;
        padding-right: 1px;
        @media (max-width: $sw-xx-max) {
            align-items: center;
            justify-content: center;
        }
        &__text {
            margin-bottom: 8px;
        }
        &__item {
            width: 100%;
            max-width: 19rem;
            @media (max-width: $sw-xx-max) {
                max-width: 26rem;
            }
        }
        .form-control-wrap {
            margin-bottom: 6px;
        }
        .input-wrap {
            width: 100%;
            position: relative;
            img {
                width: 1.6rem;
                position: absolute;
                top: 50%;
                right: 1.2rem;
                transform: translateY(-50%);
                pointer-events: none;
            }
        }
        .form-control-datepicker {
            width: 100%;
            height: 3.4rem;
            border-radius: 0;
            background-color: #18191d;
            border: 1px solid #2f3339;
            outline: none;
            box-shadow: none;
            padding: 0 1.6rem;
            font-size: 1.1rem;
            color: $white;
            @include placeholder {
                font-size: 1.1rem;
                color: $white;
            }
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}
