mixin why-we(data)
	.why-we
		.why-we__inner
			.section-title
				h2 Почему именно #[b Мы]?
			
			.why-we__content-wrap
				.why-we__content
					.why-we__item
						.why-we__item__icon
							img(src="s/images/useful/icon5.png", alt="icon")
						.why-we__item__text
							span Минимальный счет от 300 ₽
							p Вам не нужно копить стартовый капитал: начните зарабатывать без вложения.
					.why-we__item
						.why-we__item__icon
							img.specific(src="s/images/useful/icon6.png", alt="icon")
						.why-we__item__text
							span Бесплатный учебный счет
							p Обучайтесь без риска, пользуйтесь  всеми возможностями  платфоры.
					.why-we__item
						.why-we__item__icon
							img(src="s/images/useful/icon7.png", alt="icon")
						.why-we__item__text
							span Стоимость сделки от 60 ₽
							p Минимальный размер сделки не  позволит вам потерять крупную сум
					.why-we__item
						.why-we__item__icon
							img.specific(src="s/images/useful/icon8.png", alt="icon")
						.why-we__item__text
							span Быстрый вывод средств
							p Выводите прибыль моментально  без комиссии.

				.why-we__logo
					+svg('icon-logo')