.why-we {
    background-image: url('../../s/images/useful/section2-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 6rem;
    padding-bottom: 4.1rem;
    padding-right: 10rem;
    @media (max-width: $sw-md-max) {
        padding-top: 3rem;
        padding-right: 0;
    }
    @media (max-width: $sw-sm-max) {
        padding-bottom: 1rem;
    }
    .section-title {
        margin-bottom: 6rem;
        @media (max-width: $sw-md-max) {
            margin-bottom: 5.5rem;
        }
        @media (max-width: $sw-sm-max) {
            margin-bottom: 3.5rem;
        }
        h2 {
            @media (max-width: $sw-md-max) {
                margin-bottom: 0;
            }
        }
    }
    &__inner {
        width: 100%;
        max-width: 74.5rem;
        margin-left: auto;
        padding-right: 1.5rem;
        @media (max-width: $sw-md-max) {
            max-width: 66rem;
        }
        @media (max-width: $sw-sm-max) {
            padding-right: 2rem;
            padding-left: 2rem;
        }
        @media (max-width: $sw-xs-max) {
            max-width: none;
        }
    }
    &__content-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $sw-xs-max) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__logo {
        width: 13rem;
        height: 13rem;
        border: 1px solid $abbey2;
        border-radius: 50%;
        display: flex;
        align-items: center;
        margin-right: 7rem;
        margin-left: 0;
        flex-shrink: 0;
        @media (max-width: $sw-md-max) {
            width: 10rem;
            height: 10rem;
            margin-right: 5rem;
        }
        @media (max-width: $sw-sm-max) {
            width: 8rem;
            height: 8rem;
            margin-right: 3rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-right: auto;
            margin-left: auto;
        }
        .icon-logo {
            font-size: 7rem;
            color: $yellow;
            @media (max-width: $sw-md-max) {
                font-size: 5rem;
            }
            @media (max-width: $sw-sm-max) {
                font-size: 4rem;
            }
        }
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
        @media (max-width: $sw-xs-max) {
            width: 100%;
            justify-content: space-between;
        }
    }
    &__item {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: calc(50% - 2.1rem);
        padding: 0 1rem;
        margin-bottom: 3.7rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 3.2rem;
        }
        @media (max-width: $sw-xx-max) {
            width: calc(50% - 1rem);
        }
        &__icon {
            flex-shrink: 0;
            margin-bottom: 8px;
        }
        &__text {
            color: $white;
            font-size: 1.6rem;
            line-height: 1.3em;
            @media (max-width: $sw-sm-max) {
                font-size: 1.4rem;
            }
            
            p {
                margin-top: 8px;
                font-size: 1.2rem;
                @media (max-width: $sw-sm-max) {
                    font-size: 1rem;
                }
            }
        }
    }
}