.footer {
    width: 100%;
    padding-right: 10rem;
    @media (max-width: $sw-md-max) {
        padding-right: 10rem;
    }
    @media (max-width: $sw-sm-max) {
        padding: 0 2rem;
    }
    &__inner {
        padding-bottom: 3rem;
        padding-right: 7rem;
        width: 100%;
        max-width: 74.5rem;
        margin-left: auto;
        @media (max-width: $sw-md-max) {
            max-width: 66rem;
            padding-right: 0rem;
        }
        @media (max-width: $sw-xs-max) {
            max-width: none;
        }
    }
    &__top {
        width: 100%;
        padding-top: 5.5rem;
        max-width: 80rem;
        margin-left: auto;
        padding-right: 4.7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        @media (max-width: $sw-md-max) {
            max-width: 66rem;
        }
        @media (max-width: $sw-xs-max) {
            max-width: none;
            padding-right: 0;
            padding-top: 2rem;
        }
    }
    &__logo {
        img {
            width: 17.7rem;
            @media (max-width: $sw-xs-max) {
                width: 15.7rem;
            }
        }
    }
    &__social-media {
        &__item {
            color: $yellow;
            &:not(:last-child) {
                margin-right: 2.1rem;
                @media (max-width: $sw-xs-max) {
                    margin-right: 1.4rem;
                }
            }
            .icon {
                &-vk {
                    font-size: 1.3rem;
                }
                &-instagram {
                    font-size: 1.6rem;
                }
                &-youtube {
                    font-size: 2rem;
                }
            }
        }
    }
    &__contact {
        &__item {
            display: block;
            color: $manatee;
            &:not(:last-child) {
                margin-bottom: 1.2rem;
            }
            .icon {
                font-size: 1.6rem;
                margin-right: 1.2rem;
                color: $yellow;
                @media (max-width: $sw-xs-max) {
                    margin-right: 5px;
                    font-size: 1.4rem;
                }
            }
            span {
                font-size: 1.4rem;
                @media (max-width: $sw-xs-max) {
                    font-size: 1rem;
                    line-height: 1.6em;
                }
            }
        }
    }
    &__info-wrap {
        margin-top: 5.7rem;
        margin-bottom: 3rem;
        padding-bottom: 2.2rem;
        padding-right: 3rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        &::before {
            content: '';
            display: block;
            height: 1px;
            width: 3rem;
            position: absolute;
            background-color: $shark;
            bottom: 0;
            left: 0;
        }
        @media (max-width: $sw-xs-max) {
            padding-right: 0;
            margin-top: 3rem;
        }
        @media (max-width: $sw-xx-max) {
            flex-direction: column;
        }
    }
    &__links {
        width: calc(100% / 3 * 2);
        @media (max-width: $sw-xx-max) {
            width: 100%;
            margin-bottom: 1.5rem;
        }
        span {
            color: $apache;
            margin-right: 1.4rem;
            margin-left: 1.2rem;
        }
        &__item {
            color: $manatee;
            font-size: 1.2rem;
            line-height: 2.4em;
        }
    }
    &__rules {
        color: $abbey;
        font-size: 1.2rem;
    }
    &__description {
        color: $corduroy;
        p {
            font-size: 1.5rem;
            @media (max-width: $sw-md-max) {
                font-size: 1.3rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.1rem;
            }
        }
    }
}