mixin footer()
	.footer
		.footer__top
			.footer__logo
				img(src="s/images/useful/logo.png", alt="logo")
			.footer__social-media
				a.footer__social-media__item(href="javascript:void(0)")
					+svg('icon-vk')
				a.footer__social-media__item(href="javascript:void(0)")
					+svg('icon-instagram')
				a.footer__social-media__item(href="javascript:void(0)")
					+svg('icon-youtube')
		.footer__inner
			.footer__contact
				a.footer__contact__item(href="mailto:support@blackbroker.ru")
					+svg('icon-email')
					span support@blackbroker.ru
				a.footer__contact__item(href="javascript:void(0)")
					+svg('icon-location')
					span Office 02, 9 Kappadokias, Dasoupoli, 2028, Nicosia, Cyprus
			.footer__info-wrap
				.footer__links
					a.footer__links__item(href="javascript:void(0)") Политика платежей
					span /
					a.footer__links__item(href="javascript:void(0)") Договор публичной оферты
					span /
					a.footer__links__item(href="javascript:void(0)") Политика AML и KYC
					span /
					a.footer__links__item(href="javascript:void(0)") Политика конфиденциальности
					span /
					a.footer__links__item(href="javascript:void(0)") Предупреждение о риске
					span /
					a.footer__links__item(href="javascript:void(0)") Партнерская программа
				.footer__rules
					span ©2016–2020 Blackbroker
			.footer__description
				p Финансовые операции, предлагаемые данным сайтом, могут обладать повышенным уровнем риска. Приобретая предлагаемые данным сайтом финансовые услуги и инструменты, вы можете понести серьезные финансовые потери или полностью утратить средства, находящиеся на вашем гарантийно-торговом счету. Пожалуйста, оцените все финансовые риски и посоветуйтесь с независимым финансовым консультантом перед началом торговли. Binomo не несет ответственности за любые прямые, косвенные и случайные убытки или любой другой ущерб, связанный с действиями пользователя на данном сайте.
