mixin graphics-sidebar-left(data)
	.chart-sidebar
		.chart-sidebar__inner
			.chart-sidebar__menu-top
				.chart-sidebar__menu-top__item.js-sidebar-menu-wrapper
					button.chart-sidebar__menu-top__btn.js-sidebar-menu-trigger(type="button")
						img(src="s/images/useful/sidebar-watch.png", alt="logo")
						span ИСТОРИЯ
					.chart-sidebar__dropdown
						.chart-sidebar__dropdown__top
							span Завершились 
						.chart-sidebar__dropdown__item
							.chart-sidebar__dropdown__day
								span #[.yellow 24 мая]
							.chart-sidebar__dropdown__row
								.chart-sidebar__dropdown__col
									span 18:30
									span #[.gray 2 сдел.]
								.chart-sidebar__dropdown__col
									span USD/CAD
									span +35%
								.chart-sidebar__dropdown__col.last
									span #[.gray 8 000 ₽]
									span #[.green 13 200 ₽]
							.chart-sidebar__dropdown__row
								.chart-sidebar__dropdown__col
									span 15:30
									span #[.gray 1 сдел.]
								.chart-sidebar__dropdown__col
									span USD/CAD
									span 15%
								.chart-sidebar__dropdown__col.last
									span #[.gray 8 000 ₽]
									span #[.green 15 200 ₽]
							.chart-sidebar__dropdown__row
								.chart-sidebar__dropdown__col
									span 11:30
									span #[.gray 2 сдел.]
								.chart-sidebar__dropdown__col
									span USD/CAD
									span +76%
								.chart-sidebar__dropdown__col.last
									span #[.gray 8 000 ₽]
									span #[.red 0 ₽]
							.chart-sidebar__dropdown__row
								.chart-sidebar__dropdown__col
									span 10:30
									span #[.gray 1 сдел.]
								.chart-sidebar__dropdown__col
									span USD/CAD
									span +15%
								.chart-sidebar__dropdown__col.last
									span #[.gray 8 000 ₽]
									span #[.red 0 ₽]

						.chart-sidebar__dropdown__item
							.chart-sidebar__dropdown__day
								span #[.yellow 22 мая]
							.chart-sidebar__dropdown__row
								.chart-sidebar__dropdown__col
									span 14:30
									span #[.gray 2 сдел.]
								.chart-sidebar__dropdown__col
									span USD/CAD
									span +76%
								.chart-sidebar__dropdown__col.last
									span 5 000 ₽
									span #[.red 0 ₽]

						.chart-sidebar__dropdown__item
							.chart-sidebar__dropdown__day
								span #[.yellow 19 мая]
							.chart-sidebar__dropdown__row
								.chart-sidebar__dropdown__col
									span 14:30
									span #[.gray 2 сдел.]
								.chart-sidebar__dropdown__col
									span USD/CAD
									span +76%
								.chart-sidebar__dropdown__col.last
									span 8 000 ₽
									span #[.red 0 ₽]
						.chart-sidebar__dropdown__item
							.chart-sidebar__dropdown__day
								span #[.yellow 15 мая]
							.chart-sidebar__dropdown__row
								.chart-sidebar__dropdown__col
									span 19:30
									span #[.gray 2 сдел.]
								.chart-sidebar__dropdown__col
									span USD/CAD
									span +35%
								.chart-sidebar__dropdown__col.last
									span 8 000 ₽
									span #[.green 13 200 ₽]

				button.chart-sidebar__menu-top__item(type="button")
					img(src="s/images/useful/sidebar-finances.png", alt="logo")
					span ФИНАНСЫ
				button.chart-sidebar__menu-top__item(type="button")
					img(src="s/images/useful/tournaments.png", alt="logo")
					span ТУРНИРЫ
				button.chart-sidebar__menu-top__item(type="button")
					img(src="s/images/useful/sidebar-bonus.png", alt="logo")
					span БОНУСЫ
				button.chart-sidebar__menu-top__item(type="button")
					img(src="s/images/useful/training.png", alt="logo")
					span ОБУЧЕНИЕ

			.chart-sidebar__bottom
				.chart-sidebar__menu
					.chart-sidebar__menu__item.js-types-wrapper
						button.chart-sidebar__type-graphics__trigger.js-types-trigger(type="button")
							img(src="s/images/useful/candle.png", alt="logo")
						.chart-sidebar__type-graphics__dropdown
							.chart-sidebar__type-graphics__dropdown__top
								span ТИП ГРАФИКА
							.chart-sidebar__type-graphics__dropdown__list
								.chart-sidebar__type-graphics__dropdown__item
									button.chart-sidebar__type-graphics__dropdown__btn(type="button")
										.chart-sidebar__type-graphics__dropdown__img
											img(src="s/images/useful/line.png", alt="logo")
										span Линейный
								.chart-sidebar__type-graphics__dropdown__item
									button.chart-sidebar__type-graphics__dropdown__btn(type="button")
										.chart-sidebar__type-graphics__dropdown__img
											img(src="s/images/useful/candle2.png", alt="logo")
										span Свечи
									
								.chart-sidebar__type-graphics__dropdown__item
									button.chart-sidebar__type-graphics__dropdown__btn(type="button")
										.chart-sidebar__type-graphics__dropdown__img
											img(src="s/images/useful/bars.png", alt="logo")
										span Бары
								.chart-sidebar__type-graphics__dropdown__item
									button.chart-sidebar__type-graphics__dropdown__btn(type="button")
										.chart-sidebar__type-graphics__dropdown__img
											img(src="s/images/useful/heikin-Ashi.png", alt="logo")
										span Хейкин-Аши
					.chart-sidebar__menu__item
						button.chart-sidebar__type-graphics__trigger(type="button")
							span.yellow 15
							span сек
					.chart-sidebar__menu__item.js-types-wrapper2
						button.chart-sidebar__type-graphics__trigger.js-types-trigger2(type="button")
							img(src="s/images/useful/pen.png", alt="logo")
						.chart-sidebar__type-graphics__next-dropdown
							.chart-sidebar__type-graphics__dropdown__top
								span ГРАФИЧЕСКИЕ ИНСТРУМЕНТЫ
							.chart-sidebar__type-graphics__dropdown__list
								button.chart-sidebar__type-graphics__dropdown__item(type="button")
									.chart-sidebar__type-graphics__dropdown__img
										img(src="s/images/useful/line-segment.png", alt="logo")
									span Отрезок
								button.chart-sidebar__type-graphics__dropdown__item(type="button")
									.chart-sidebar__type-graphics__dropdown__img
										img(src="s/images/useful/ray.png", alt="logo")
									span Луч
								button.chart-sidebar__type-graphics__dropdown__item(type="button")
									.chart-sidebar__type-graphics__dropdown__img
										img(src="s/images/useful/horizontal-line.png", alt="logo")
									span Горизонтальная линия
								button.chart-sidebar__type-graphics__dropdown__item(type="button")
									.chart-sidebar__type-graphics__dropdown__img
										img(src="s/images/useful/vertical-line.png", alt="logo")
									span Вертикальная линия
								button.chart-sidebar__type-graphics__dropdown__item(type="button")
									.chart-sidebar__type-graphics__dropdown__img
										img(src="s/images/useful/fibonacci-lines.png", alt="logo")
									span Линии Фибоначчи
				a.chart-sidebar__support(href="javascript:void(0)")
					img(src="s/images/useful/support-service (1).png", alt="logo")
					span СЛУЖБА ПОДДЕРЖКИ



			
