.chart-sidebar {
	width: 8.5rem;
	height: 100%;
	background-color: $shark3;
	.yellow	{
		font-size: 1.2rem;
		color: $robRoy;
	}
	&__inner {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding-top: 3px;
	}
	&__menu-top {
		width: 100%;
		&__item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 6.6rem;
			background-color: $shark4;
			color: $white;
			position: relative;
			border-right: 1px solid transparent;
			transition: background-color 0.3s ease, border-color .3s ease;
			&:not(:last-child) {
				margin-bottom: 3px;
			}
			&.is-active {
				border-color: $rajah2;
				background-color: $shark2;
			}
			img {
				margin-bottom: 1rem;
			}
			&:hover {
				@media (min-width: $sw-xs-min) {
					background-color: #272930;
				}
			}
		}
		&__btn {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: $white;
    		width: 100%;
			height: 100%;
		}
	}
	&__dropdown {
		position: absolute;
		left: calc(100% + 2px);
		top: 0;
		width: 22.2rem;
		height: 58rem;
		background-color: $shark4;
		padding: 8px 1.9rem 3rem 2.1rem;
		opacity: 0;
		visibility: hidden;
		transition: transform .3s ease, opacity .3s ease, visibility .3s ease;
		.js-sidebar-menu-wrapper.is-active & {
			opacity: 1;
			visibility: visible;
			transform: none;
		}
		&__top {
			color: $santasGray;
			font-size: 1.2rem;
			padding-bottom: 9px;
			border-bottom: 1px solid $mako;
			position: relative;
			&::before {
				content: '';
				display: block;
				height: 4px;
				width: 4px;
				border-radius: 50%;
				position: absolute;
				background-color: $rajah2;
				top: 8px;
				left: -1.3rem;
			}
		}
		&__item {
			padding-top: 1.1rem;
			margin-bottom: 1.7rem;
		}
		&__day {
			margin-bottom: 5px;
		}
		&__row {
			width: 100%;
			display: flex;
			padding-left: 1px;
			padding-right: 2px;
			&:not(:last-child) {
				margin-bottom: 8px;
			}
			&:last-child {
				position: relative;
				&::after {
					content: '';
					display: block;
					height: 1px;
					width: 5rem;
					position: absolute;
					background-color: $mako;
					top: 5rem;
					left: 0;
				}
			}
		}
		&__col {
			width: calc(100% / 3);
			font-size: 1.2rem;
			span {
				display: block;
			}
			.gray {
				color: $santasGray;
			}
			.red {
				color: $redOrange;
			}
		}
		.last {
			text-align: end;
		}
	}
	&__menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 2rem;
		&__item {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 4rem;
			color: $white;
			line-height: 1rem;
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}
	&__type-graphics {
		position: relative;
		&__trigger {
			width: 4rem;
			height: 4rem;
			background-color: $shark4;
			border: 1px solid $mako;
			border-radius: 50%;
			transition: background-color 0.3s ease;
			&:hover {
				@media (min-width: $sw-xs-min) {
					background-color: #2a2d35;
				}
			}
			&:active {
				@media (min-width: $sw-xs-min) {
					background-color: lighten(#2a2d35, 5%);
				}
			}
			.js-types-wrapper.is-active & {
				background-color: $shark2;
			}
		}
		&__dropdown {
			position: absolute;
			left: calc(100% + 2px);
			bottom: -12rem;
			width: 15.8rem;
			padding-bottom: 1.5rem;
			background-color: $shark4;
			opacity: 0;
			z-index: 5;
			visibility: hidden;
			transition: background-color 0.3s ease;
			transition: transform .3s ease, opacity .3s ease, visibility .3s ease;
			.js-types-wrapper.is-active & {
				opacity: 1;
				visibility: visible;
				transform: none;
			}
			&__top {
				padding-top: 5px;
				padding-bottom: 1rem;
				padding: 1.3rem 1.9rem 1rem 2rem;
				font-size: 1.2rem;
				border-bottom: 1px solid $mako;
			}
			&__item {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				font-size: 1.1rem;
				&:hover {
					@media (min-width: $sw-xs-min) {
						background-color: $shark2;
						border-color: $rajah2;
					}
					// .chart-sidebar__type-graphics__next-dropdown {
					// 	opacity: 1;
					// 	visibility: visible;
					// 	transform: none;
					// }
				}
			}
			&__btn {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding: 1.3rem 1.7rem 1rem 2.2rem;
				border-right: 1px solid transparent;
				transition: background-color 0.3s ease, border-color 0.3s ease;
			}
			&__img {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 1.5rem;
				height: 1rem;
				margin-right: 9px;
			}
		}
		&__next-dropdown {
			position: absolute;
			width: 21.5rem;
			padding-bottom: 1.8rem;
			background-color: $shark4;
			top: -12.1rem;
			left: 100%;
			transition: opacity .3s ease, visibility .3s ease;
			opacity: 0;
			visibility: hidden;
			border-left: 2px solid #101217;
			.js-types-wrapper2.is-active & {
				opacity: 1;
				visibility: visible;
				transform: none;
			}
			.chart-sidebar__type-graphics__dropdown__item {
				padding: 1.3rem 1.7rem 1rem 2.2rem;
			}
		}
	}
	&__support {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 1.3rem 0 1rem 0;
		width: 100%;
		background-color: $woodsmoke;
		img {
			margin-bottom: 5px;
		}
	}
}