extends _includes/_extends/graphics

include _includes/components/graphics-sidebar-left/graphics-sidebar-left
include _includes/components/graphics-sidebar-right/graphics-sidebar-right
include _includes/components/graphics/graphics


block head
	+head({'title':'Graphics'})

block graphics-sidebar-left
	+graphics-sidebar-left()

block content
	+graphics()

block graphics-sidebar-right
	+graphics-sidebar-right()