extends _includes/_extends/profile

//- include _includes/components/profile-sidebar/profile-sidebar
include _includes/components/replenishment-extension/replenishment-extension
include _includes/components/top-menu-buttons/top-menu-buttons
include _includes/components/payment-method/payment-method
include _includes/components/fiches/fiches


block head
	+head({'title':'Replenishment Extension'})

block profile-sidebar
	+profile-sidebar({
		list: [
			{
				class: '',
				icon: 'profil',
				text: 'Мой профиль'
			},
			{
				class: '',
				icon: 'editing',
				text: 'Редактировать аккаунт'
			},
			{
				class: '',
				icon: 'finances',
				text: 'Финансы'
			},
			{
				class: '',
				icon: 'operations',
				text: 'История операций'
			},
			{
				class: '',
				icon: 'types-accounts',
				text: 'Типы счетов'
			},
			{
				class: '',
				icon: 'faq',
				text: 'FAQ'
			},
			{
				class: '',
				icon: 'support',
				text: 'Служба поддержки'
			}
		]
    })
    

block content
	+top-menu-buttons()
	+replenishment-extension()
	+fiches()