extends _includes/_extends/profile

include _includes/components/faq/faq


block head
	+head({'title':'FAQ'})

block profile-sidebar
	+profile-sidebar({
		list: [
			{
				class: '',
				icon: 'profil',
				text: 'Мой профиль'
			},
			{
				class: '',
				icon: 'editing',
				text: 'Редактировать аккаунт'
			},
			{
				class: '',
				icon: 'finances',
				text: 'Финансы'
			},
			{
				class: '',
				icon: 'operations',
				text: 'История операций'
			},
			{
				class: '',
				icon: 'types-accounts',
				text: 'Типы счетов'
			},
			{
				class: 'is-active',
				icon: 'faq',
				text: 'FAQ'
			},
			{
				class: '',
				icon: 'support',
				text: 'Служба поддержки'
			}
		]
    })
    

block content
	+faq()