extends _includes/_extends/profile

include _includes/components/operations/operations
include _includes/components/top-menu-buttons/top-menu-buttons


block head
	+head({'title':'History of Operations'})

block profile-sidebar
	+profile-sidebar({
		list: [
			{
				class: '',
				icon: 'profil',
				text: 'Мой профиль'
			},
			{
				class: '',
				icon: 'editing',
				text: 'Редактировать аккаунт'
			},
			{
				class: '',
				icon: 'finances',
				text: 'Финансы'
			},
			{
				class: 'is-active',
				icon: 'operations',
				text: 'История операций'
			},
			{
				class: '',
				icon: 'types-accounts',
				text: 'Типы счетов'
			},
			{
				class: '',
				icon: 'faq',
				text: 'FAQ'
			},
			{
				class: '',
				icon: 'support',
				text: 'Служба поддержки'
			}
		]
	})
	

block content
	+top-menu-buttons()
	+operations()