extends _includes/_extends/landing

include _includes/components/best-platform/best-platform
include _includes/components/why-we/why-we
include _includes/components/withdraw/withdraw
include _includes/components/earn-money/earn-money

block head
	+head({'title':'Main'})

block content
	+best-platform()
	+why-we()
	+withdraw()
	+earn-money()