extends _includes/_extends/profile

//- include _includes/components/profile-sidebar/profile-sidebar
include _includes/components/type-of-accounts/type-of-accounts
include _includes/components/top-menu-buttons/top-menu-buttons


block head
	+head({'title':'Type Of Accounts'})

block profile-sidebar
	+profile-sidebar({
		list: [
			{
				class: '',
				icon: 'profil',
				text: 'Мой профиль'
			},
			{
				class: '',
				icon: 'editing',
				text: 'Редактировать аккаунт'
			},
			{
				class: '',
				icon: 'finances',
				text: 'Финансы'
			},
			{
				class: '',
				icon: 'operations',
				text: 'История операций'
			},
			{
				class: 'is-active',
				icon: 'types-accounts',
				text: 'Типы счетов'
			},
			{
				class: '',
				icon: 'faq',
				text: 'FAQ'
			},
			{
				class: '',
				icon: 'support',
				text: 'Служба поддержки'
			}
		]
    })
    

block content
	+top-menu-buttons()
	+type-of-accounts()