button {
    // button reset 
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    color: $white;
    &:focus {
        outline: none;
        box-shadow: none;
    }
    
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color .3s ease, background-color .3s ease, box-shadow .3s ease;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1em;
    min-width: 6.875rem;
    outline: none;
    box-shadow: none;
    text-transform: capitalize;
    cursor: pointer;
    
    width: 100%;
    height: 4.5rem;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    border: 1px solid $shark2;
    text-align: center;
    @media (max-width: $sw-xs-max) {
        height: 4rem;
        font-size: 1.2rem;
    }
    
    &:hover {
        @media (min-width: $sw-xs-min) {
            background-color: #23262b;
        }
    }
    &:active {
        @media (min-width: $sw-xs-min) {
            background-color: #26292e;
        }
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &-green {
        background-color: $sushi;
        &:hover {
            @media (min-width: $sw-xs-min) {
                background-color: #699e3b;
            }
        }
        &:active {
            @media (min-width: $sw-xs-min) {
                background-color: #7d9e60;
            }
        }
    }
    &-red {
        background-color: $redOrange;
        &:hover {
            @media (min-width: $sw-xs-min) {
                background-color: #e63b21;
            }
        }
        &:active {
            @media (min-width: $sw-xs-min) {
                background-color: #f3614b;
            }
        }
    }
    &-green, &-red {
        height: 3.8rem;
        width: 16.6rem;
        border-radius: 0;
        font-size: 1.5rem;
        img {
            max-width: 2.1rem;
            margin-right: 1rem;
        }
        @media (max-width: $sw-md-max) {
            height: 3.7rem;
            width: 13rem;
            font-size: 1.4rem;
            img {
                margin-right: 5px;
                max-width: 1.8rem;
            }
        }
        @media (max-width: $sw-sm-max) {
            height: 3.6rem;
            width: 12rem;
            font-size: 1.3rem;
            img {
                max-width: 1.7rem;
            }
        }
        @media (max-width: $sw-xs-max) {
            height: 4.5rem;
            width: 16.6rem;
            font-size: 1.5rem;
            img {
                max-width: 2rem;
            }

        }
        @media (max-width: $sw-xx-max) {
            width: 100%;

        }
    }
}
.active {
    border-color: $rajah2;
    img {
        width: 2.1rem;
        margin-right: 1rem;
    }
}