mixin profile-header(data)
	header.profile-header
		.container
			.profile-header__inner
				.profile-header__logo
					img(src="s/images/useful/logo.png", alt="logo")

				.profile-header__detail-wrap
					.profile-header__detail
						.profile-header__status.profile-header__item
							.profile-header__status__profile
								img(src="s/images/useful/man.png", alt="man")
							.profile-header__status__text
								span GOLD
							img.profile-header__status__chevron(src="s/images/useful/triangle.png", alt="triangle")
						.profile-header__score.profile-header__item
							.profile-header__score__text
								span Реальный счет:
							.profile-header__score__status
								span #[b $ 1,234.00]
								img(src="s/images/useful/triangle.png", alt="triangle")
						.profile-header__item
							button.btn.btn-green(type="button")
								img(src="s/images/useful/replenish.png", alt="replenish")
								span Пополнить
						.profile-header__item
							button.btn.btn-red(type="button")
								img(src="s/images/useful/trade.png", alt="trade")
								span Торговать
					.profile-header__menu
						button.profile-header__burger(type="button")
							span.profile-header__burger-item.burger-line-1
							span.profile-header__burger-item.burger-line-2
							span.profile-header__burger-item.burger-line-3