.profile-header {
    width: 100%;
    top: 0;
    background-color: $shark3;
    border-bottom: 1px solid $shark2;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
    
    &__inner {
        width: 100%;
        height: 6.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3px 5px 0 5px;
        @media (max-width: $sw-md-max) {
            padding-right: 1rem;
        }
        @media (max-width: $sw-xs-max) {
            height: 5.5rem;
            padding: 0;
        }
    }
    &__logo {
        img {
            max-width: 17.8rem;
            @media (max-width: $sw-xs-max) {
                max-width: 15.7rem;
            }
        }
    }
    &__item {
        &:not(:last-child) {
            margin-right: 1.3rem;
        }
        @media (max-width: $sw-sm-max) {
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
        @media (max-width: $sw-xs-max) {
            display: none;
        }
    }
    &__detail {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        &-wrap {
            height: 100%;
            display: flex;
            align-items: center;
        }
       
    }
    &__status {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $shark4;
        height: 100%;
        padding: 0 1.5rem;
        cursor: pointer;
        &__chevron {
            width: 1.2rem;
        }
        @media (max-width: $sw-md-max) {
            padding: 0 1.3rem; 
        }

        
        &__profile {
            height: 4rem;
            width: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid $rajah;
            margin-right: 1rem;
            img {
                margin-right: 0;
            }
        }
        &__text {
            font-size: 1.8rem;
            font-weight: 500;
            margin-right: 1rem;
            @media (max-width: $sw-md-max) {
                font-size: 1.6rem;
                margin-right: 8px;
            }
        }
        @media (max-width: $sw-xs-max) {
            display: none;
        }
    }
    &__score {
        cursor: pointer;
        padding: 0 3rem;
        img {
            width: 1rem;
        }
        @media (max-width: $sw-md-max) {
            padding: 0 2.5rem; 
        }
        &__text {
            font-size: 1.2rem;
        }
        &__status {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-weight: 500;
                font-size: 1.6rem;
                margin-right: 1rem;
                b {
                    color: $sushi;
                }
            }
        }
    }
    &__burger {
        background-color: transparent;
        cursor: pointer;
        display: none;
        border: none;

        @media (max-width: $sw-xs-max) {
            display: block;
        }
        &-item {
            transition: 0.35s ease, border-color 0.35s ease;
            background-color: $abbey;
            display: block;
            margin: 6px 0;
            height: 3px;
            width: 3rem;
            .is-opened-menu-profile & {
                &:first-child {
                    transform: rotate(-45deg) translate(-5px, 5px);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(45deg) translate(-8px, -8px);
                }
            }
        }
    }
}