mixin withdraw(data)
	.withdraw
		.withdraw__inner
			.section-title
				h2 #[b Пополняй] и #[b Выводи] на любую #[br]платежную систему
				p Бонусы на пополнение до #[span.thin-text 100%]
			.withdraw__payment-method
				.withdraw__item
					img.visa(src="s/images/useful/visa.png", alt="icon")
				.withdraw__item
					img.mastercard(src="s/images/useful/mastercard.png", alt="icon")
				.withdraw__item
					img.qiwi(src="s/images/useful/qiwi.png", alt="icon")
				.withdraw__item
					img.yandex(src="s/images/useful/yandex.png", alt="icon")
				.withdraw__item
					img.neteller(src="s/images/useful/neteller.png", alt="icon")
				.withdraw__item
					img.webmoney(src="s/images/useful/webmoney.png", alt="icon")
				.withdraw__item
					img.bank-transfer(src="s/images/useful/bank-transfer.png", alt="icon")