.withdraw {
    background-image: url('../../s/images/useful/section3-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-right: 10rem;
    @media (max-width: $sw-md-max) {
        padding-top: 3rem;
        padding-right: 0;
    }
    @media (max-width: $sw-sm-max) {
        padding-bottom: 2rem;
    }
    .section-title {
        margin-bottom: 4rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2.5rem;
        }
        h2 {
            margin-bottom: 2.7rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 2rem;
            }
        }
        p {
            @media (max-width: $sw-xs-max) {
                font-size: 1.4rem;
                margin-bottom: 0;
            }
        }
    }
    &__inner {
        width: 100%;
        max-width: 74.5rem;
        margin-left: auto;
        padding-right: 1.5rem;
        @media (max-width: $sw-md-max) {
            max-width: 66rem;
        }
        @media (max-width: $sw-sm-max) {
            padding-right: 2rem;
            padding-left: 2rem;
        }
        @media (max-width: $sw-xs-max) {
            max-width: none;
        }
    }
    &__payment-method {
        display: flex;
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        &:not(:last-child) {
            margin-right: 2.5rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2rem;
        }
    }
}