mixin fiches(data)
	.fiches
		.fiches__inner
			.fiches__details
				.fiches__col
					.fiches__detail
						img(src="s/images/useful/3d.png", alt="logo")
						.fiches__detail__text
							span Дополнительный уровень безопасности #[br]проведения платежей
				.fiches__col
					.fiches__detail
						img(src="s/images/useful/savemoney.png", alt="logo")
						.fiches__detail__text
							span Сохраннность средств обеспечивается #[br]Евпропейскими банками
				.fiches__col
					.fiches__detail
						img(src="s/images/useful/protection.png", alt="logo")
						.fiches__detail__text
							span 2048-битная устойчивая SSL-защита