.fiches {
    &__details {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
        width: 100%;
        
        padding-top: 2.5rem;
        margin-top: 1.5rem;
        position: relative;
        
        &::before {
            content: '';
            display: block;
            height: 1px;
            width: 11rem;
            position: absolute;
            background-color: $shark;
            top: 0;
            left: 1rem;
        }
    }
    &__col {
        width: calc(100% / 2);
        padding: 0 1rem;
        margin-bottom: 2.5rem;
        @media (max-width: 500px) {
            width: 100%;
        }
    }
    &__detail {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
            // width: 2.5rem;
            margin-right: 2rem;
        }
    }
}