.deposit {
    &__inner {
        width: 100%;
        max-width: 63.4rem;
        @media (max-width: $sw-sm-max) {
            max-width: 58rem;
        }
        @media (max-width: $sw-xs-max) {
            max-width: none;
        }
    }
    .form-control {
        font-size: 2.2rem;
        height: 5.2rem;
        width: 100%;
        padding: 0 5.5rem 0 1.8rem;
        @media (max-width: $sw-xs-max) {
            height: 5rem;
        }

        @include placeholder {
            font-size: 2.2rem;
        }
        &-wrap {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 0;
            @media (max-width: 550px) {
                width: 100%;
            }
        }
    }
    .radiobutton {
        &__select-icon {
            width: 1.4rem;
            height: 1.4rem;
            margin-right: 1.8rem;
            @media (max-width: 550px) {
                margin-right: 5px;
            }
            &::after {
                height: 8px;
                width: 8px;
                left: 3px;
                top: 20%;
            }
        }
        &__title {
            color: $white;
            @media (max-width: $sw-xs-max) {
                font-size: 1rem;
            }
        }
    }
    .title {
        margin-bottom: 3.6rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2rem;
        }
    }
    span {
        font-size: 1.2rem;
        color: $santasGray;
    }
    &__title {
        margin-bottom: 7px;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3px;
        }
    }
    &__choose-amount {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: 1.6rem;

        &__col {
            width: calc(100% / 3);
            padding: 0 5px;
            margin-bottom: 1.5rem;
            @media (max-width: 550px) {
                width: calc(100% / 2);
                margin-bottom: 1.3rem;
            }
        }
        &__sum {
            height: 4.6rem;
            width: 100%;
            padding: 0 1rem;
            border: 1px solid $shark2;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.5rem;
            transition: background-color .3s ease;
	        @media (max-width: $sw-sm-max) {
                margin-bottom: 1rem;
            }
            @media (max-width: $sw-xs-max) {
                height: 4.2rem;
            }
            @media (max-width: $sw-xx-max) {
                height: 4rem;
            }
            @media (max-width: 550px) {
                margin-bottom: 5px;
            }

            span {
                font-size: 1.6rem;
                color: $white;
                margin-bottom: 0;
	            @media (max-width: $sw-sm-max) {
                    font-size: 1.4rem;
                }
            }
        }
        .is-selected {
            background-color: $sushi;
        }
        &__info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 1.7rem;
	        @media (max-width: $sw-sm-max) {
                padding-left: 8px;
            }
            @media (max-width: 550px) {
                padding: 0;
                justify-content: center;
            }

            img {
                max-width: 2.3rem;
                margin-right: 1rem;
    	        @media (max-width: $sw-sm-max) {
                    max-width: 2rem;
                    margin-right: 8px;
                }
                @media (max-width: $sw-xs-max) {
                    width: 1.7rem;
                    margin-right: 5px;
                }
            }
            span {
                color: $white;
                font-size: 1.4rem;
                @media (max-width: $sw-xs-max) {
                    font-size: 1.2rem;
                }
            }
            &__item {
                display: flex;
                align-items: center;
                justify-content: center;
                &:not(:last-child) {
                    margin-right: 2.1rem;
        	        @media (max-width: $sw-sm-max) {
                        margin-right: 1.8rem;
                    }
                }
            }
        }
    }
    &__card {
        background-color: $shark3;
        padding: 1.5rem 1.6rem 3.2rem 2rem;
        margin-bottom: 3rem;
        @media (max-width: $sw-xs-max) {
            padding: 1.3rem 1.4rem 2.2rem 1.3rem;
        }
        @media (max-width: 550px) {
            padding: 1rem 1.1rem 2rem 1rem;
        }
        &__input-wrap {
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;
            @media (max-width: 550px) {
                height: 10rem;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 0;
            }
        }
        &__field {
            height: 5.2rem;
            width: 67%;
            position: relative;
            @media (max-width: 550px) {
                width: 100%;
            }
        }
        &__icon {
            position: absolute;
            top: 55%;
            right: 1.8rem;
            transform: translateY(-50%);
            color: $rajah2;
            span {
                color: $rajah2;
                font-size: 2.5rem;
            }
        }
        &__bonus {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            @media (max-width: 550px) {
                width: 100%;
                flex-direction: row-reverse;
                align-items: center;
            }
            .form-control {
                height: 3rem;
                font-size: 1.2rem;
                padding: 0 1.1rem;
                @media (max-width: 550px) {
                    width: 100%;
                    max-width: 30rem;
                }
                @include placeholder {
                    font-size: 1.2rem;
                    color: $santasGray;
                }
                
                &-wrap {
                    width: 100%;
                    height: 3rem;
                    @media (max-width: 550px) {
                        margin-right: 8px;
                    }
                }
            }
        }
        
        &__text {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            padding-left: 3px;
            @media (max-width: 550px) {
                flex-direction: column-reverse;
                align-items: flex-end;
            }
            &:last-child {
                padding-bottom: 3.9rem;
                border-bottom: 1px solid $shark;
                @media (max-width: $sw-xs-max) {
                    padding-bottom: 2rem;
                }
            }
            b {
                color: $white;
            }
            &__main {
                width: 66.2%;
                position: relative;
                @media (max-width: 550px) {
                    width: 100%;
                }

                &:not(:last-child) {
                    margin-bottom: 3.2rem;
                }
                &:last-child {
                    &::after {
                        content: '';
                        display: block;
                        height: 1px;
                        width: 3rem;
                        position: absolute;
                        background-color: $shark;
                        top: -1.5rem;
                        left: 0;
                    }
                }
            }
            &__line {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
                a {
                    padding-left: 3px;
                    text-decoration: underline;
                }
            }
            &__about-bonus {
                text-align: end;
                @media (max-width: 550px) {
                    margin-bottom: 1rem;
                }
            }
        }
        &__bottom {
            padding: 2.2rem 4px 0 3px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            @media (max-width: $sw-xs-max) {
                padding-top: 1.5rem;
            }
            @media (max-width: 550px) {
                align-items: flex-start;
                flex-direction: column;
            }

            &__sum {
                text-align: right;
                margin-right: 1.5rem;
                @media (max-width: 550px) {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: flex-end;
                    justify-content: flex-end;
                    margin-right: 0;
                    margin-bottom: 8px;
                }

                span {
                    margin-bottom: 0;
                    @media (max-width: 550px) {
                        margin-left: 5px;
                    }

                }
                h2 {
                    font-size: 2rem;
                    margin-bottom: 0;
                }
            }
            &__bring-out {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                @media (max-width: 550px) {
                    flex-direction: column;
                    align-items: flex-end;
                    width: 100%;
                }

                .btn {
                    width: 15.4rem;
                    @media (max-width: 550px) {
                        width: 100%;
                    }

                    span {
                        font-size: 1.4rem;
                        margin-bottom: 0;
                    }
                }

            }
        }
        &__method {
            .deposit__title {
                margin-bottom: 1.1rem;
            }
            &__content {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 1rem;
                @media (max-width: 550px) {
                    margin-bottom: 1rem;
                }
                span {
                    font-size: 1rem;
                    margin-bottom: 0;
                }
            }
            img {
                max-width: 7rem;
                margin-right: 2rem;
            }
        }
    }
}