mixin replenishment-extension(data)
	.deposit
		.deposit__inner
			.title
				h2 Пополнение средств
			form.deposit__form(action="javascript:void(0)")

			.deposit__choose-amount-wrap
				.deposit__title
					span Выберите сумму
				.deposit__choose-amount
					.deposit__choose-amount__col
						.deposit__choose-amount__item
							button(type="button").deposit__choose-amount__sum.is-selected
								span 500 рублей
							.deposit__choose-amount__info
								.deposit__choose-amount__info__item
									img(src="s/images/useful/interest.png" alt="logo")
									span 0 %
								.deposit__choose-amount__info__item
									img(src="s/images/useful/crown.png" alt="logo")
									span Standart
					.deposit__choose-amount__col
						.deposit__choose-amount__item
							button(type="button").deposit__choose-amount__sum
								span 1000 рублей
							.deposit__choose-amount__info
								.deposit__choose-amount__info__item
									img(src="s/images/useful/interest.png" alt="logo")
									span 0 %
								.deposit__choose-amount__info__item
									img(src="s/images/useful/crown.png" alt="logo")
									span Gold
					.deposit__choose-amount__col
						.deposit__choose-amount__item
							button(type="button").deposit__choose-amount__sum
								span 1500 рублей
							.deposit__choose-amount__info
								.deposit__choose-amount__info__item
									img(src="s/images/useful/interest.png" alt="logo")
									span 0 %
								.deposit__choose-amount__info__item
									img(src="s/images/useful/crown.png" alt="logo")
									span Premium

				.deposit__card
					.deposit__title
						span Введите свою сумму
					.deposit__card__input-wrap
						.deposit__card__field
							.form-control-wrap.form-control-wrap--profile
								input.form-control.form-control--profile(type="text" placeholder="500")
							.deposit__card__icon
								span ₽
						.deposit__card__bonus
							.radiobutton-wrap
								.radiobutton
									label(for="bonus").radiobutton__item
										input#bonus(type="radio" name="use-bonus")
										span.radiobutton__item__inner
											span.radiobutton__select-icon
											.radiobutton__item__icon
											span.radiobutton__title Использовать бонусы
							.form-control-wrap.form-control-wrap--profile
								input.form-control.form-control--profile(type="text" placeholder="XUZKDHSNV")

					.deposit__card__text-wrap
						.deposit__card__text
							.deposit__card__text__main
								.deposit__card__text__line
									span Бонусы на депозит #[b 10%]
									span #[.bigger 50,00 ₽]
								.deposit__card__text__line
									span Купон #[a(href="javascript:void(0)") Добавить]
							.deposit__card__text__about-bonus
								span Поздравляем, ваш #[br] бонус #[.green активирован!]

						.deposit__card__text
							.deposit__card__text__main
								.deposit__card__text__line
									span Будет зачислено
									span #[.bigger 550,00 ₽]
								.deposit__card__text__line
									span Статус Аккаунта
									span #[.bigger Без обновления статуса]

					.deposit__card__bottom
						.deposit__card__method
							.deposit__title
								span Способ оплаты
							.deposit__card__method__content
								img(src="s/images/useful/visa-master.png" alt="logo")
								span VISA / MasterCard / Maestro

						.deposit__card__bottom__bring-out
							.deposit__card__bottom__sum
								span RUB
								h2 500
							button.btn.active(type="submit")
								span Пополнение