mixin profile-sidebar(data)
	.profile-sidebar
		.container
			.profile-sidebar__inner
				.profile-sidebar__detail
					.profile-sidebar__status.profile-sidebar__item
						.profile-sidebar__status__profile
							img(src="s/images/useful/man.png", alt="man")
						.profile-sidebar__status__text
							span GOLD
						img(src="s/images/useful/triangle.png", alt="triangle")
					.profile-sidebar__score.profile-sidebar__item
						.profile-sidebar__score__text
							span Реальный счет:
						.profile-sidebar__score__status
							span #[b $ 1,234.00]
							img(src="s/images/useful/triangle.png", alt="triangle")
					.profile-sidebar__item
						button.btn.btn-green(type="button")
							img(src="s/images/useful/replenish.png", alt="replenish")
							span Пополнить
					.profile-sidebar__item
						button.btn.btn-red(type="button")
							img(src="s/images/useful/trade.png", alt="trade")
							span Торговать

							
				.profile-sidebar__list
					each item in data.list
						a.profile-sidebar__link(href="javascript:void(0)", class='' + item.class ? item.class : null)
							.profile-sidebar__link__icon
								img(src="s/images/useful/#{item.icon}.png", alt="icon")
							.profile-sidebar__link__text
								span!= item.text