.profile-sidebar {
    width: 23.5%;
    border-right: 1px solid $shark2;
    background-color: $shark3;
    
    @media (max-width: $sw-xs-max) {
        position: fixed;
        left: 0;
        top: 5.6rem;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 50;
        transform: scale(0.95);
        transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.5s, opacity cubic-bezier(0.77, 0, 0.175, 1) 0.5s, visibility cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
        pointer-events: none;
        width: auto;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    @media (min-width: $sw-sm-min) {
        .container {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .is-opened-menu-profile & {
        @media (max-width: $sw-xs-max) {
            width: 100%;
            display: block;
            width: 100%;
            visibility: visible;
            transform: scale(1);
            opacity: 1;
            pointer-events: all;
        }
    }

    &__inner {
        width: 100%;
        position: sticky;
        top: 0;
        padding-top: 3.2rem;
        min-height: calc(100vh - 6.6rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: $sw-xs-max) {
            max-width: none;
            justify-content: flex-start;
            align-items: center;
            padding-top: 2rem;
            min-height: calc(100vh - 5.5rem);
        }
    }
    &__list {
		width: 100%;
		flex-grow: 1;
	}
    &__link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1.3rem 0 1.4rem 1.6rem;
        transition: background-color 0.3s ease;
        @media (max-width: $sw-sm-max) {
            padding: 1.2rem 0 1.3rem 1.4rem;
        }
        
        &__icon {
            img {
                width: auto;
                max-width: 1.5rem;
                margin-right: 2.9rem;
                @media (max-width: $sw-sm-max) {
                    // width: 1.4rem;
                    margin-right: 2rem;
                }
            }
        }
        &__text {
            color: $white;
            font-weight: 500;
            font-size: 1.4rem;
        }
        &.is-active {
            background-color: $shark4;
            @media (min-width: $sw-sm-min) {
                border-right: 1px solid $rajah;
            }
        }
        &:hover {
			@media (min-width: $sw-xs-min) {
                background-color: #272930;
			}
		}
		&:active {
            @media (min-width: $sw-xs-min) {
                background-color: lighten(#272930, 3%);
			}
		}
    }





    &__item {
        justify-content: space-between;
        @media (max-width: $sw-xx-max) {
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }
    &__detail {
        width: 100%;
        display: none;
        margin-bottom: 2rem;
        @media (max-width: $sw-xs-max) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }      
        @media (max-width: $sw-xx-max) {
            flex-direction: column;
            justify-content: center;
        }      
    }
    &__status {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $shark4;
        height: 100%;
        padding: 5px 2rem;
        cursor: pointer;
        @media (max-width: $sw-xx-max) {
            padding: 8px 2rem;
        }

        img {
            width: 1.2rem;
        }
        
        &__profile {
            height: 4rem;
            width: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid $rajah;
            margin-right: 1rem;
            img {
                width: 1.5rem;
                margin-right: 0;
            }
        }
        &__text {
            font-size: 1.8rem;
            font-weight: 500;
            margin-right: 1rem;
            @media (max-width: $sw-md-max) {
                font-size: 1.6rem;
                margin-right: 8px;
            }
        }
    }
    &__score {
        cursor: pointer;
        padding: 0 1rem;
        @media (max-width: $sw-xx-max) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            width: 1rem;
        }
        &__text {
            font-size: 1.4rem;
            margin-right: 1.5rem;
        }
        &__status {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-weight: 500;
                font-size: 1.9rem;
                margin-right: 1rem;
                b {
                    color: $sushi;
                }
            }
        }
    }
}