.header {
    position: absolute;
    right: 0;
    width: 100%;
    top: 6.7rem;
    z-index: 20;
    background-color: transparent;
    padding-right: 10rem;
    transition: background-color 0.3s ease;
    @media (max-width: $sw-md-max) {
        top: 4rem;
        padding-right: 0;
    }
    @media (max-width: $sw-xs-max) {
        padding: 0 2rem;
        top: 0;
        height: 7rem;
        display: flex;
        align-items: center;
        position: fixed;
        left: 0;
        right: 0;
    }
    &.is-scrolled, .is-opened & {
        @media (max-width: $sw-xs-max) {
            background-color: $dark;
        }
    }
    &__inner {
        width: 100%;
        max-width: 80rem;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $sw-md-max) {
            max-width: 66rem;
            padding: 0 2rem 0 0;
        }
        @media (max-width: $sw-xs-max) {
            max-width: none;
            padding: 0;
        }
    }
    &__logo {
        img {
            @media (max-width: $sw-xs-max) {
                max-width: 15.7rem;
            }
        }
    }
    &__burger {
        background-color: transparent;
        cursor: pointer;
        display: none;
        border: none;

        @media (max-width: $sw-xs-max) {
            display: block;
        }
        &-item {
            transition: 0.35s ease, border-color 0.35s ease;
            background-color: $manatee;
            display: block;
            margin: 6px 0;
            height: 3px;
            width: 3rem;
            .is-opened & {
                &:first-child {
                    transform: rotate(-45deg) translate(-5px, 5px);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(45deg) translate(-8px, -8px);
                }
            }
        }
    }
}
