mixin header()
	header.header
		.header__inner
			.header__logo
				img(src="s/images/useful/logo.png", alt="logo")
			
			.header__menu
				button.header__burger(type="button")
					span.header__burger-item 
					span.header__burger-item
					span.header__burger-item