mixin faq(data)
	.faq
		.faq__inner
			.title
				h2 FAQ
			.faq__search
				button.faq__search__button(type="submit")
					img(src="s/images/useful/search.png", alt="logo")
				.form-control-wrap.form-control-wrap--profile
					input.form-control.form-control--profile(type="text", placeholder="Поиск")
			.faq__content
				.faq__menu
					ul.faq__menu__list.h-reset-list
						li.faq__menu__item
							a.active(href="javascript:void(0)") Популярные вопросы
						li.faq__menu__item
							a(href="javascript:void(0)") Верификация
						li.faq__menu__item
							a(href="javascript:void(0)") Личный кабинет
						li.faq__menu__item
							a(href="javascript:void(0)") Платежи
						li.faq__menu__item
							a(href="javascript:void(0)") Трейдинг
						li.faq__menu__item
							a(href="javascript:void(0)") Бонусы и Турниры

			
				.faq__blocks
					.faq__block
						.faq__block__question-wrap.js-collapse
							button.faq__block__question.js-collapse-trigger(type="button")
								+svg('icon-chevron2')
								span Что такое BlackBroker?
							.faq__block__answer.js-collapse-inner
								.faq__block__answer__inner
									span Последние несколько лет российский рынок акций демонстрирует уверенный рост. Индекс голубых фишек Московской биржи (IMOEX) за три года вырос более чем на 50%, в очередной раз обновив максимум в 2019 году.
					.faq__block
						.faq__block__question-wrap.js-collapse
							button.faq__block__question.js-collapse-trigger(type="button")
								+svg('icon-chevron2')
								span Как изменить валюту счета?
							.faq__block__answer.js-collapse-inner
								.faq__block__answer__inner
									span Последние несколько лет российский рынок акций демонстрирует уверенный рост. Индекс голубых фишек Московской биржи (IMOEX) за три года вырос более чем на 50%, в очередной раз обновив максимум в 2019 году.
					.faq__block
						.faq__block__question-wrap.js-collapse
							button.faq__block__question.js-collapse-trigger(type="button")
								+svg('icon-chevron2')
								span Как пополнить счет?
							.faq__block__answer.js-collapse-inner
								.faq__block__answer__inner
									span Последние несколько лет российский рынок акций демонстрирует уверенный рост. Индекс голубых фишек Московской биржи (IMOEX) за три года вырос более чем на 50%, в очередной раз обновив максимум в 2019 году.
					.faq__block
						.faq__block__question-wrap.js-collapse
							button.faq__block__question.js-collapse-trigger(type="button")
								+svg('icon-chevron2')
								span Для чего проводится верификация?
							.faq__block__answer.js-collapse-inner
								.faq__block__answer__inner
									span Последние несколько лет российский рынок акций демонстрирует уверенный рост. Индекс голубых фишек Московской биржи (IMOEX) за три года вырос более чем на 50%, в очередной раз обновив максимум в 2019 году.
					.faq__block
						.faq__block__question-wrap.js-collapse
							button.faq__block__question.js-collapse-trigger(type="button")
								+svg('icon-chevron2')
								span Как вывести прибыль?
							.faq__block__answer.js-collapse-inner
								.faq__block__answer__inner
									span Последние несколько лет российский рынок акций демонстрирует уверенный рост. Индекс голубых фишек Московской биржи (IMOEX) за три года вырос более чем на 50%, в очередной раз обновив максимум в 2019 году.
					.faq__block
						.faq__block__question-wrap.js-collapse
							button.faq__block__question.js-collapse-trigger(type="button")
								+svg('icon-chevron2')
								span Как стать VIP?
							.faq__block__answer.js-collapse-inner
								.faq__block__answer__inner
									span Последние несколько лет российский рынок акций демонстрирует уверенный рост. Индекс голубых фишек Московской биржи (IMOEX) за три года вырос более чем на 50%, в очередной раз обновив максимум в 2019 году.

			
