.faq {
    .title {
        h2 {
            margin-bottom: 2.8rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 2rem;
            }
        }
    }
    &__search {
        display: flex;
        width: 100%;
        position: relative;
        margin-bottom: 3rem;
        @media (max-width: $sw-md-max) {
            margin-bottom: 2.8rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2.5rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2rem;
        }
        &__button {
            position: absolute;
            top: 50%;
            left: 2rem;
            transform: translateY(-50%);
        }
    }
    .form-control {
        border: 1px solid $shark2;
        font-size: 1.4rem;
        height: 5.2rem;
        width: 100%;
        max-width: 60.4rem;
        padding: 0 2rem 0 5.8rem;
        @media (max-width: $sw-md-max) {
            height: 5rem;
        }
        @media (max-width: $sw-xs-max) {
            height: 4.5rem;
            max-width: none;
            padding: 0 2rem 0 5rem;
        }
        @include placeholder {
            font-size: 1.4rem;
        }
        &-wrap {
            margin-bottom: 0;
            width: 100%;
        }
    }
    &__content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        @media (max-width: 600px) {
            flex-direction: column;
        }
    }
    &__menu {
        width: 15rem;
        padding-left: 3px;
        padding-top: 1.4rem;
        margin-right: 3.9rem;
        @media (max-width: $sw-xs-max) {
            margin-right: 3rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-right: 2rem;
        }
        @media (max-width: 600px) {
            padding-top: 0;
            margin-bottom: 2rem;
        }
        &__item {
            font-size: 1.2rem;
            &:not(:last-child) {
                margin-bottom: 1.2rem;
            }
            a {
                color: $santasGray;
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        color: $yellow;
                    }
                }
                &:active {
                    @media (min-width: $sw-xs-min) {
                        color: $rajah;
                    }
                }
            }
        }
        .active {
            color: $apache;
        }
    }
    &__blocks {
        width: 41.4rem;
        @media (max-width: $sw-xs-max) {
            width: 100%;
            max-width: 45rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 100%;
            max-width: 40rem;
        }
        @media (max-width: 600px) {
            max-width: none;
        }
    }


    &__block {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        vertical-align: top;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
        &__question {
            padding: 9px 1.6rem;
            min-height: 3rem;
            width: 100%;
            border-bottom: 1px solid $shark2;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-align: initial;
            font-size: 1.6rem;
            color: $white;
            transition: background-color 0.3s ease;
      
            @media (max-width: $sw-md-max) {
                font-size: 1.4rem;
                padding: 1rem 1.5rem 1rem 1.5rem;
            }
            @media (max-width: $sw-xs-max) {
                align-items: flex-start;
                padding: 1rem;
                font-size: 1.4rem;
            }

            &-wrap {
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
                @media (max-width: $sw-sm-max) {
                    &:not(:last-child) {
                        margin-bottom: 1.5rem;
                    }
                }
                @media (max-width: $sw-xx-max) {
                    &:not(:last-child) {
                        margin-bottom: 2rem;
                    }
                }
            }

            .icon-chevron2 {
                font-size: 6px;
                flex-shrink: 0;
                margin-right: 3.9rem;
                color: $rajah2;
                transform: rotate(0deg);
                transition: transform .3s ease;
                @media (max-width: $sw-xs-max) {
                    font-size: 7px;
                    margin-right: 3.5rem;
                    margin-top: 8px;
                }
                @media (max-width: $sw-xx-max) {
                    margin-right: 3rem;
                }

                .collapse-is-opened & {
                    transform: rotate(180deg);
                }
            }
        }
        &__answer {
            width: 100%;
            padding: 1.2rem 1rem 0 1.5rem;
            display: none;
            &__inner {
                padding-bottom: 1.5rem;
                font-size: 1.2rem;
                letter-spacing: -1px;
                color: $santasGray;
                border-bottom: 1px solid $shark2;
                @media (max-width: $sw-xs-max) {
                    padding: 0;
                    padding-bottom: 1rem;
                }
                @media (max-width: $sw-xx-max) {
                    line-height: 1.5em;
                }
            }
        }
    }
}