

$white:     #fff;
$black:     #000;
$dark:      #18191d;
$yellow:    #d8af66;
$abbey:     #48494c;
$shark:     #2e2f31;
$shark2:    #2f3339;
$apache:    #d9b168;
$manatee:   #979798;
$corduroy:  #656666;
$abbey2:    #555557;
$shark3:    #1D2025;
$shark4:    #22252B;
$rajah:     #F2C471;
$sushi:     #74B13E;
$redOrange: #FC472C;
$rajah2:    #F7C873;
$santasGray:#9E9FA2;
$aluminium: #A8A9AC;
$bombay:    #B4B5B8;
$bombay2:   #AFB0B3;
$robRoy:    #E7BB6D;
$mako:      #3E434B;
$woodsmoke: #131417;
$osloGray:  #929497;
$shark5:  #26292F;




$body-bg:                   $dark;
$body-color:                $white;


$link-color:                              none;
$link-decoration:                         none;
$link-hover-color:                        inherit;
$link-hover-decoration:                   none;


$paragraph-margin-bottom:   1rem;

$sw-xx-min: 0;
$sw-xs-min: 768px;
$sw-sm-min: 992px;
$sw-md-min: 1200px;
$sw-lg-min: 1440px;

$sw-xx-max:$sw-xs-min - 1px;
$sw-xs-max:$sw-sm-min - 1px;
$sw-sm-max:$sw-md-min - 1px;
$sw-md-max:$sw-lg-min - 1px;

$grid-breakpoints: (
  xs: $sw-xx-min,
  sm: $sw-xs-min,
  md: $sw-sm-min,
  lg: $sw-md-min,
  xl: $sw-lg-min
);

$container-max-widths: (
  sm: 720px,
  md: 984px,
  lg: 1024px,
  xl: 1024px
);


$grid-columns:                24;
$grid-gutter-width:           30px;
$grid-row-columns:            12;


// fonts
$montserrat: 'Montserrat', sans-serif;
$gilroy: 'Gilroy', sans-serif;

$font-family-sans-serif:      $gilroy;
$font-family-monospace:       $gilroy;
$font-family-base:            $font-family-sans-serif;

