.chart-header {
	width: 100%;
	top: 0;
	background-color: $shark3;
	border-bottom: 1px solid $shark2;
	.btn {
		width: 16.5rem;
		height: 4rem;
		@media (max-width: 1599px) {
			width: 14rem;
		}
	}
	&__inner {
		width: 100%;
		height: 6.7rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 3px 2.5rem 0 2.5rem;
		@media (max-width: 1599px) {
			padding: 0 1.5rem;
		}
		@media (max-width: $sw-md-max) {
			padding-right: 1rem;
		}
		@media (max-width: $sw-xs-max) {
			height: 5.5rem;
		}
	}
	&__right-wrap {
		display: flex;
	}
	&__logo {
		margin-right: 4rem;
		display: flex;
		align-items: center;
		@media (max-width: 1599px) {
			margin-right: 2rem;
		}

		img {
			@media (max-width: 1599px) {
				max-width: 13rem;
			}
		}
	}
	&__detail {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		&-wrap {
			height: 100%;
			display: flex;
			align-items: center;
		}
	   
	}
	&__status {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		position: relative;
		margin-right: 3.1rem;
		@media (max-width: 1599px) {
			margin-right: 1rem;
		}

		&__trigger {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $shark4;
			height: 100%;
			padding: 0 1.5rem;
			cursor: pointer;
			@media (max-width: $sw-md-max) {
				padding: 0 1.4rem; 
			}
			img {
				width: 1.2rem;
			}
		}
		&__dropdown {
			position: absolute;
			right: 0;
			top: 6.5rem;
			width: 26.5rem;
			height: 39rem;
			background-color: $shark4;
			padding: 2.5rem 2rem 3rem;
			opacity: 0;
			visibility: hidden;
			transition: transform .3s ease, opacity .3s ease, visibility .3s ease;
			.js-chart-status-wrapper.is-active & {
				opacity: 1;
				visibility: visible;
				transform: none;
			}
		}
		&__top {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			padding-bottom: 1.7rem;
			border-bottom: 1px solid $mako;
		}
		
		&__profile, &__photo {
			height: 4rem;
			width: 4rem;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			border: 1px solid $rajah;
			margin-right: 1rem;
			@media (max-width: 1599px) {
				width: 3.5rem;
				height: 3.5rem;
			}
			img {
				width: 1.5rem;
				margin-right: 0;
				@media (max-width: 1599px) {
					width: 1.4rem;
				}
			}
		}
		&__photo {
			margin-top: 7px;
			margin-right: 2rem;
			span {
				font-size: 3rem;
			}
		}
		&__info {
			&__name {
				font-size: 1.8rem;
				margin-bottom: 8px;
			}
			&__id {
				color: $santasGray;
				font-size: 1.4rem;
				margin-bottom: 8px;
				b {
					color: $white;
					font-weight: 500;
				}
			}
			&__level {
				color: $santasGray;
				font-size: 1.4rem;
				.yellow {
					display: inline;
					font-weight: 600;
					color: $robRoy;
				}
			}
		}
		&__list {
			padding-top: 1.4rem;
			margin-bottom: 2rem;
		}
		&__item {
			padding: 6px 2rem;
			transition: background-color 0.3s ease;
			&:hover {
				@media (min-width: $sw-xs-min) {
					background-color: #272930;
				}
			}
			&:active {
				@media (min-width: $sw-xs-min) {
					background-color: lighten(#272930, 5%);
				}
			}
		}
		&__link  {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			img {
				margin-right: 2.5rem;
			}
			span {
				font-weight: 600;
				font-size: 1.2rem;
				color: $santasGray;
			}
		}
		&__text {
			color: $white;
			font-size: 1.8rem;
			font-weight: 500;
			margin-right: 1rem;
			@media (max-width: 1599px) {
				font-size: 1.6rem;
				margin-right: 8px;
			}
		}
		
	}
	&__score {
		cursor: pointer;
		padding: 0 1rem;
		color: $white;
		text-align: start;
		margin-right: 2.8rem;
		position: relative;
		@media (max-width: 1599px) {
			margin-right: 1rem;
			padding: 0 1rem; 
		}
		img {
			width: 1rem;
		}
		&__text {
			font-size: 1.2rem;
		}
		&__status {
			display: flex;
			justify-content: center;
			align-items: center;
			span {
				font-weight: 500;
				font-size: 1.6rem;
				margin-right: 1rem;
				b {
					color: $sushi;
					letter-spacing: 0.7px;
				}
			}
		}
		&__dropdown {
			position: absolute;
			right: 0;
			top: 5.4rem;
			width: 12.5rem;
			height: 10.6rem;
			background-color: $shark4;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			opacity: 0;
			visibility: hidden;
			transition: transform .3s ease, opacity .3s ease, visibility .3s ease;
			.js-chart-score-wrapper.is-active & {
				opacity: 1;
				visibility: visible;
				transform: none;
			}
			&__item {
				width: 100%;
				padding: 5px;
				&:hover {
					@media (min-width: $sw-xs-min) {
						background-color: #272930;
					}
				}
				&:active {
					@media (min-width: $sw-xs-min) {
						background-color: lighten(#272930, 5%);
					}
				}
			}
			.selected {
				background-color: $shark2;
				border-right: 1px solid $rajah2;
			}
		}
	}
	&__usdcard {
		display: flex;
		&__item {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			height: 4.1rem;
			width: 19.5rem;
			padding: 0 1.3rem;
			color: $white;
			background-color: $shark4;
			font-size: 1.3rem;
			letter-spacing: 0.6px;
			transition: background-color 0.3s ease;
			@media (max-width: 1599px) {
				font-size: 1.1rem;
				padding: 0 1rem;
				width: auto;
			}
			
			&:not(:last-child) {
				margin-right: 1.2rem;
				@media (max-width: 1599px) {
					margin-right: 1rem;
				}
			}
			&:hover {
				@media (min-width: $sw-xs-min) {
					background-color: #272930;
				}
			}
			&:active {
				@media (min-width: $sw-xs-min) {
					background-color: lighten(#272930, 5%);
				}
			}
			.icon-close {
				font-size: 1rem;
				color: $osloGray;
				margin-left: 1rem;
			}
			.icon-chevron {
				flex-shrink: 0;
				font-size: 5px;
				color: $bombay;
				margin-right: 1.1rem;
				@media (max-width: 1599px) {
					margin-right: 8px;
				}
			}
			img {
				margin-right: 6px;

			}
			.yellow {
				color: $rajah2;
				margin-left: 1rem;
				@media (max-width: 1599px) {
					margin-left: 8px;
				}
			}
		}
		&__add {
			color: $bombay2;
			font-size: 3rem;
			width: 4rem;
			height: 4rem;
			background-color: $shark4;
			transition: background-color 0.3s ease;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				@media (min-width: $sw-xs-min) {
					background-color: #272930;
				}
			}
			&:active {
				@media (min-width: $sw-xs-min) {
					background-color: lighten(#272930, 5%);
				}
			}
		}
		.is-active {
			background-color: $shark2;
			border-bottom: 1px solid $rajah2;
			.icon-close {
				display: block;
				color: $robRoy;
			}
		}
	}
}