mixin graphics-header(data)
	.chart-header
		.chart-header__inner
			.chart-header__right-wrap
				.chart-header__logo
					img(src="s/images/useful/logo.png", alt="logo")
				
				.chart-header__usdcard
					button.chart-header__usdcard__item.is-active(type="button")
						+svg('icon-chevron')
						img(src="s/images/useful/flags.png", alt="logo")
						span USD/CAD
						span #[.yellow 76%]
						+svg('icon-close')
					button.chart-header__usdcard__item(type="button")
						+svg('icon-chevron')
						img(src="s/images/useful/flags.png", alt="logo")
						span USD/CAD
						span #[.yellow 76%]
						+svg('icon-close')
					button.chart-header__usdcard__item(type="button")
						+svg('icon-chevron')
						img(src="s/images/useful/flags.png", alt="logo")
						span USD/CAD
						span #[.yellow 76%]
						+svg('icon-close')
					button.chart-header__usdcard__item(type="button")
						+svg('icon-chevron')
						img(src="s/images/useful/flags.png", alt="logo")
						span USD/CAD
						span #[.yellow 76%]
						+svg('icon-close')
					button.chart-header__usdcard__add(type="button")
						span +

			
			.chart-header__detail-wrap
				.chart-header__detail
					.chart-header__status.js-chart-status-wrapper
						button.chart-header__status__trigger.js-chart-status-trigger(type="button")
							.chart-header__status__profile
								img(src="s/images/useful/man.png", alt="man")
							.chart-header__status__text
								span GOLD
							img(src="s/images/useful/triangle.png", alt="triangle")
						.chart-header__status__dropdown
							.chart-header__status__top
								.chart-header__status__photo
									span +
								.chart-header__status__info
									.chart-header__status__info__name
										span Иван Иванов
									.chart-header__status__info__id
										span ID #[b 025161]
									.chart-header__status__info__level
										span Уровень счета : #[.yellow GOLD]
							.chart-header__status__menu
								ul.chart-header__status__list.h-reset-list
									li.chart-header__status__item
										a.chart-header__status__link(href="javascript:void(0)")
											img(src="s/images/useful/add-photo.png", alt="logo")
											span Загрузить фото
									li.chart-header__status__item
										a.chart-header__status__link(href="javascript:void(0)")
											img(src="s/images/useful/add-personal-data.png", alt="logo")
											span Личные данные
									li.chart-header__status__item
										a.chart-header__status__link(href="javascript:void(0)")
											img(src="s/images/useful/replenish.png", alt="logo")
											span Пополнить счет
									li.chart-header__status__item
										a.chart-header__status__link(href="javascript:void(0)")
											img(src="s/images/useful/withdrawal-of-funds.png", alt="logo")
											span Вывод средств
									li.chart-header__status__item
										a.chart-header__status__link(href="javascript:void(0)")
											img(src="s/images/useful/watch.png", alt="logo")
											span История операций
									li.chart-header__status__item
										a.chart-header__status__link(href="javascript:void(0)")
											img(src="s/images/useful/support-service.png", alt="logo")
											span Служба поддержки
								.chart-header__status__item
									a.chart-header__status__link(href="javascript:void(0)")
										img(src="s/images/useful/go-out.png", alt="logo")
										span Выйти

					.chart-header__score.js-chart-score-wrapper
						button.chart-header__score__trigger.js-chart-score-trigger(type="button")
							.chart-header__score__text
								span Реальный счет:
							.chart-header__score__status
								span #[b $ 1,234.00]
								img(src="s/images/useful/triangle.png", alt="triangle")
						.chart-header__score__dropdown
							button.chart-header__score__dropdown__item.selected(type="button")
								.chart-header__score__text
									span Реальный счет:
								.chart-header__score__status
									span #[b $ 1,234.00]
							button.chart-header__score__dropdown__item(type="button")
								.chart-header__score__text
									span Демо счет:
								.chart-header__score__status
									span #[b $ 1,000.00]

					button.btn.active(type="submit")
						img(src="s/images/useful/replenish-yellow.png", alt="replenish")
						span Пополнить