.edit {
    .form-control-wrap {
        margin-bottom: 0;
    }
    .title {
        h2 {
            margin-bottom: 3.5rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 3rem;
            }
        }
    }
    &__title {
        span {
            display: block;
            font-size: 1.2rem;
            margin-bottom: 8px;
            color: $santasGray;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 3px;
            }
        }
    }
    &__big-title {
        font-size: 2rem;
        letter-spacing: -1.1px;
        margin-bottom: 1.3rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 8px;
        }
    }
    .form-control {
        border: 1px solid $shark2;
        font-size: 1.2rem;
        height: 4.6rem;
        width: 19.9rem;
        padding: 0 2rem 0 2.1rem;
        @media (max-width: 550px) {
			width: 100%;
		}
        @include placeholder {
            font-size: 1.2rem;
        }
        &-wrap {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            @media (max-width: 550px) {
                width: 100%;
            }
        }
    }
    &__lang {
        @media (max-width: 550px) {
            width: 100%;
        }
        .select2-selection--single {
            @media (max-width: 550px) {
                width: 100%;
            }
        }
        margin-bottom: 3.9rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3rem;
        }
    }
    &__personal-data {
        margin-bottom: 1.9rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 1.5rem;
        }
        &-wrap {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            max-width: 41.7rem;
            @media (max-width: 550px) {
                max-width: none;
            }
        }
        &__col {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 1.9rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 1.2rem;
            }
            @media (max-width: 550px) {
                width: 100%;
            }
            .radiobutton-wrap {
                padding-right: 6px;
                &:not(:last-child) {
                    margin-right: 1.3rem;
                }
            }
        }
    }
    &__birthday {
        margin-bottom: 3rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2rem;
        }

        &-wrap {
            display: flex;
            flex-wrap: wrap;
        }
        &__col {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 1rem;
            &:not(:last-child) {
                margin-right: 1.9rem;
            }
            .select2-selection--single {
                width: 7.4rem;
            }
            &--year {
                .select2-selection--single {
                    width: 10.7rem;
                }
            }  
        }
        &__text {
            font-size: 1.2rem;
            margin-right: 1.3rem;
        }
    }
    &__contact {
        margin-bottom: 1.4rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 1rem;
        }
        .form-control {
            width: 37.4rem;
            font-size: 1.5rem;
            &-wrap {
                @media (max-width: 550px) {
                    width: 100%;
                }
            }
            @include placeholder {
                font-size: 1.5rem;
            }
    		@media (max-width: 550px) {
                width: 100%;
            }

        }
        &-wrap {
            display: flex;
            align-items: center;
            padding-left: 1rem;
            @media (max-width: $sw-xs-max) {
                padding-left: 5px;
            }
            img {
                margin-right: 1.5rem;
                @media (max-width: $sw-xs-max) {
                    margin-right: 1.3rem;
                }
                @media (max-width: $sw-xx-max) {
                    margin-right: 1rem;
                }
            }
        }
    }
    &__mailing-list {
        margin-bottom: 4.4rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2.5rem;
        }
        .edit__title {
            margin-bottom: 2.5rem;
        }
        .radiobutton-wrap {
            padding-left: 1.2rem;
            @media (max-width: $sw-xs-max) {
                padding-left: 5px;
            }
        }
        .radiobutton__title {
            font-size: 1.5rem;
            @media (max-width: $sw-xs-max) {
                font-size: 1.2rem;
            }
        }
        .radiobutton__select-icon {
            margin-right: 1.7rem;
            letter-spacing: -0.5px;
        }
    }
    .btn {
        margin-bottom: 3.6rem;
        max-width: 41.7rem;
        font-size: 1.6rem;
        @media (max-width: $sw-xs-max) {
            font-size: 1.5rem;
		}
        @media (max-width: $sw-xx-max) {
            font-size: 1.4rem;
		}
    }
    &__change-password {
        margin-bottom: 4.4rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3rem;
        }
        .form-control {
            width: 41.7rem;
            font-size: 2.5rem;
            @include placeholder {
                font-size: 2.4rem;
            }
            @media (max-width: 550px) {
                width: 100%;
            }
            &-wrap {
                margin-bottom: 1.4rem;
                @media (max-width: $sw-xs-max) {
                    margin-bottom: 1.2rem;
                }
                @media (max-width: 550px) {
                    width: 100%;
                }
            }
        }
    }
    &__socials {
        width: 100%;
        max-width: 41.7rem;
        margin-bottom: 3.1rem;
        &__inner {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -1rem;
            @media (max-width: 449px) {
                margin: 0;
            }
        }
        &__col {
            width: 50%;
            padding: 0 1rem;
            margin-bottom: 2rem;
            @media (max-width: 449px) {
                width: 100%;
                padding: 0;
                margin-bottom: 1.5rem;
            }
        }
        &__btn {
            width: 100%;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 5rem;
            transition: background-color .3s ease;
            .icon {
                color: $white;
                &-facebook {
                    font-size: 2.8rem;
                }
                &-odnoklassniki {
                    font-size: 2.8rem;
                }
                &-vk {
                    font-size: 2rem;
                }
                &-google {
                    font-size: 3rem;
                }
            }
            &--fb {
                background-color: #1976d2;
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        background-color: lighten(#1976d2, 5%);
                    }
                }
            }
            &--google {
                background-color: $white;
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        background-color: darken($white, 5%);
                    }
                }
            }
            &--ok {
                background-color: #f7931e;
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        background-color: lighten(#f7931e, 5%);
                    }
                }
            }
            &--vk {
                background-color: #3d75b0;
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        background-color: lighten(#3d75b0, 5%);
                    }
                }
            }
        }
    }
    &__disable {
        position: relative;
        padding-top: 5.2rem;
        margin-bottom: 3rem;
        @media (max-width: $sw-xx-max) {
            padding-top: 3rem;
            margin-bottom: 2rem;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            max-width: 32rem;
            height: 1px;
            background-color: #2f3339;
        }
        &__btn {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            color: #ed442b;
            font-size: 1.6rem;
            font-weight: 500;
            img {
                height: 1.6rem;
                flex-shrink: 0;
                margin-right: 1.5rem;
            }
        }
    }
}