mixin edit(data)
	.edit
		.edit__inner
			.title
				h2 Редактировать профиль
			form.edit__form(action="javascript:void(0)")
				.form-control-wrap
					.edit__lang
						.edit__title
							span Выберите язык платформы
						//- label.form-control-label(for="language-form") Выберите язык платформы
						.input-wrap
							select.js-select-type(id="language-form" name="form" data-placeholder='Русский')
								option(value="1", data-image="./s/images/useful/rus.png") Russia
								option(value="2", data-image="./s/images/useful/rus.png") Russia 2
								option(value="3", data-image="./s/images/useful/rus.png") Russia 3
								option(value="4", data-image="./s/images/useful/rus.png") Russia 4

				.edit__personal-data
					.edit__title
						span Персональные данные
					.edit__personal-data-wrap
						.edit__personal-data__col
							.form-control-wrap.form-control-wrap--profile
								input.form-control.form-control--profile(type="text", placeholder="Имя")
						.edit__personal-data__col
							.form-control-wrap.form-control-wrap--profile
								input.form-control.form-control--profile(type="text", placeholder="Фамилия")
						.edit__personal-data__col
							.form-control-wrap.form-control-wrap--profile
								input.form-control.form-control--profile(type="text", placeholder="Никнейм")
						.edit__personal-data__col
							.radiobutton-wrap
								.radiobutton
									label(for="man").radiobutton__item
										input#man(type="radio" name="select-sex")
										span.radiobutton__item__inner
											span.radiobutton__select-icon
											.radiobutton__item__icon
											span.radiobutton__title Мужской
							.radiobutton-wrap
								.radiobutton
									label(for="woman").radiobutton__item
										input#woman(type="radio" name="select-sex")
										span.radiobutton__item__inner
											span.radiobutton__select-icon
											.radiobutton__item__icon
											span.radiobutton__title Женский

				.edit__birthday
					.edit__title
						span Дата рождения
					.edit__birthday-wrap
						.edit__birthday__col
							.edit__birthday__text
								span День
							.form-control-wrap
								.input-wrap
									select.js-select(id="day-form" name="form" data-placeholder='01')
										option(value="")
										option(value="1") 01
										option(value="2") 02
										option(value="3") 03
										option(value="5") 05
										option(value="6") 06
										option(value="7") 07
										option(value="8") 08
										option(value="9") 09
										option(value="10") 10
										option(value="11") 11
										option(value="12") 12
										option(value="13") 13
										option(value="14") 14
										option(value="15") 15
										option(value="16") 16
										option(value="17") 17
										option(value="18") 18
										option(value="19") 19
										option(value="20") 20
										option(value="21") 21
										option(value="22") 22
										option(value="23") 23
										option(value="24") 24
										option(value="25") 25
										option(value="26") 26
										option(value="27") 27
										option(value="28") 28
										option(value="29") 29
										option(value="30") 30
										option(value="31") 31
								
						.edit__birthday__col
							.edit__birthday__text
								span Месяц
							.form-control-wrap
								.input-wrap
									select.js-select(id="moon-form" name="form" data-placeholder='01')
										option(value="")
										option(value="1") 01
										option(value="2") 02
										option(value="3") 03
										option(value="5") 05
										option(value="6") 06
										option(value="7") 07
										option(value="8") 08
										option(value="9") 09
										option(value="10") 10
										option(value="11") 11
										option(value="12") 12
						.edit__birthday__col.edit__birthday__col--year
							.edit__birthday__text
								span Год
							.form-control-wrap
								.input-wrap
									select.js-select(id="year-form" name="form" data-placeholder='2004')
										//- option(value="")
										option(value="1") 2004
										option(value="2") 2003
										option(value="3") 2002
										option(value="5") 2001
										option(value="6") 2000
										option(value="7") 1999
										option(value="8") 1998
										option(value="9") 1997
										option(value="10") 1998
										option(value="11") 1997
										option(value="12") 1996
										option(value="13") 1995
										option(value="14") 1994
										option(value="15") 1993
										option(value="16") 1992
										option(value="17") 1991
										option(value="18") 1990
										option(value="19") 1989
										option(value="20") 1988
										option(value="21") 1987
										option(value="22") 1986
										option(value="23") 1985
										option(value="24") 1984
										option(value="25") 1983
										option(value="26") 1982
										option(value="27") 1981
										option(value="28") 1980
										option(value="29") 1979
										option(value="30") 1978
										option(value="31") 1977
										option(value="32") 1976
										option(value="33") 1975
										option(value="34") 1974
										option(value="35") 1973
										option(value="36") 1972
										option(value="37") 1971
										option(value="38") 1970
										option(value="39") 1969
										option(value="40") 1968
										option(value="41") 1967
										option(value="42") 1966
										option(value="43") 1965
										option(value="44") 1964
										option(value="45") 1963
										option(value="46") 1962
										option(value="47") 1961
										option(value="48") 1960
										option(value="49") 1959
										option(value="50") 1958
								
				.edit__contact
					.edit__title
						span Ваш номер телефона
					.edit__contact-wrap
						img(src="s/images/useful/phone.png", alt="logo")
						.form-control-wrap.form-control-wrap--profile
							input.form-control.form-control--profile(type="text", placeholder="+7 999 12345 56")
				.edit__contact
					.edit__title
						span Ваш email адрес
					.edit__contact-wrap
						img(src="s/images/useful/mail.png", alt="logo")
						.form-control-wrap.form-control-wrap--profile
							input.form-control.form-control--profile(type="text", placeholder="example@gmail.com")

				.edit__mailing-list
					.edit__title
						span Новости и Уведовления
					.radiobutton-wrap
						.radiobutton
							label(for="mailing-list").radiobutton__item
								input#mailing-list(type="radio" name="mailing")
								span.radiobutton__item__inner
									span.radiobutton__select-icon
									.radiobutton__item__icon
									span.radiobutton__title Получать Новости об акциях и бонусах
				button.btn.active(type="submit")
					span Сохранить

			form.edit__form-change-password(action="javascript:void(0)")
				.edit__big-title
					span Изменить пароль
				.edit__change-password
					.edit__change-password-item
						.edit__title
							span Текущий пароль
						.form-control-wrap.form-control-wrap--profile
							input.form-control.form-control--profile(type="password")
					.edit__change-password-item
						.edit__title
							span Новый пароль
						.form-control-wrap.form-control-wrap--profile
							input.form-control.form-control--profile(type="password")
					.edit__change-password-item
						.edit__title
							span Повторите пароль
						.form-control-wrap.form-control-wrap--profile
							input.form-control.form-control--profile(type="password")
				button.btn.active(type="submit")
					span Сохранить
			.edit__socials
				.edit__big-title
					span Привязать социальные сети
				.edit__socials__inner
					.edit__socials__col
						button.edit__socials__btn.edit__socials__btn--fb(type="button")
							+svg('icon-facebook')
					.edit__socials__col
						button.edit__socials__btn.edit__socials__btn--google(type="button")
							+svg('icon-google')
					.edit__socials__col
						button.edit__socials__btn.edit__socials__btn--ok(type="button")
							+svg('icon-odnoklassniki')
					.edit__socials__col
						button.edit__socials__btn.edit__socials__btn--vk(type="button")
							+svg('icon-vk')
			.edit__disable
				button.edit__disable__btn(type="button")
					img(src="s/images/useful/disable.png", alt="disable")
					span Заблокировать аккаунт