.replenishment {
    .title {
        margin-bottom: 3.5rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2rem;
        }
    }
    .profile-content {
        padding-top: 3rem;
    }    
}