mixin best-platform(data)
	.best-platform
		.best-platform__inner
			.section-title
				h2 #[b Лучшая] Торговая Платформа
				p Регистрируйтесь и получите #[span.thin-text 60 000 ₽] на учебный счет. #[br] Получай прибыль с инвестиций на финансовом рынке.
			.best-platform__row
				.best-platform__item
					.best-platform__item__icon
						img(src="s/images/useful/icon1.png", alt="icon")
					.best-platform__item__text
						span Доходность #[br] до 95%
				.best-platform__item
					.best-platform__item__icon
						img(src="s/images/useful/icon2.png", alt="icon")
					.best-platform__item__text
						span Неразглашения #[br] личных данных
				.best-platform__item
					.best-platform__item__icon
						img(src="s/images/useful/icon3.png", alt="icon")
					.best-platform__item__text
						span Моментальный #[br] вывод средств
				.best-platform__item
					.best-platform__item__icon
						img(src="s/images/useful/icon4.png", alt="icon")
					.best-platform__item__text
						span 4 года #[br] на Рынке