.best-platform {
    background-image: url('../../s/images/useful/section1-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 18.7rem;
    padding-bottom: 4.1rem;
    padding-right: 10rem;

    @media (max-width: $sw-md-max) {
        padding-top: 13.5rem;
        padding-right: 0;
    }
    @media (max-width: $sw-sm-max) {
        padding-bottom: 1rem;
    }
    @media (max-width: $sw-xs-max) {
        padding-top: 9.5rem;
    }
    .section-title {
        margin-bottom: 9.5rem;
        @media (max-width: $sw-md-max) {
            margin-bottom: 6.5rem;
        }
        @media (max-width: $sw-sm-max) {
            margin-bottom: 4.5rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3rem;
        }
        p {
            @media (max-width: $sw-xs-max) {
                font-size: 1.2rem;
            }
            .thin-text {
                color: $yellow;
                font-size: 2.4rem;
                @media (max-width: $sw-xs-max) {
                    font-size: 2rem;
                }
            }
        }
    }
    &__inner {
        width: 100%;
        max-width: 74.5rem;
        margin-left: auto;
        padding-right: 1.5rem;
        @media (max-width: $sw-md-max) {
            max-width: 66rem;
        }
        @media (max-width: $sw-sm-max) {
            padding-right: 2rem;
            padding-left: 2rem;
        }
        @media (max-width: $sw-xs-max) {
            max-width: none;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $sw-sm-max) {
            flex-wrap: wrap;
            margin: 0 -1rem;
        }
    }
    &__item {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $sw-sm-max) {
            width: 50%;
            padding: 0 1rem;
            margin-bottom: 3.5rem;
        }
        @media (max-width: $sw-xs-max) {
            width: auto;
        }
        @media (max-width: $sw-xx-max) {
            width: 50%;
        }
        @media (max-width: 359px) {
            width: 100%;
        }
        &:not(:last-child) {
            margin-right: 4.6rem;
            @media (max-width: $sw-md-max) {
                margin-right: 2.5rem;
            }
            @media (max-width: $sw-sm-max) {
                margin-bottom: 3.5rem;
                margin-right: 0;
            }
            @media (max-width: $sw-xs-max) {
                margin-right: 3rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }
        &__icon {
            flex-shrink: 0;
            margin-right: 1.5rem;
        }
        &__text {
            color: $white;
            font-size: 1.4rem;
            line-height: 1.3em;
            br {
                @media (max-width: 359px) {
                    display: none;
                }
            }
        }
    }
}