mixin payment-method(data)
	.payment-method
		.payment-method__inner
			.payment-method__card__title
				span Выберите способ оплаты
			.payment-method__cards
				.payment-method__item
					a.payment-method__card.masterCard(href="javascript:void(0)")
						img(src="s/images/useful/visa-master.png", alt="logo")
						span VISA / MasterCard / Maestro
				.payment-method__item
					a.payment-method__card.webMoneyy(href="javascript:void(0)")
						img(src="s/images/useful/webMoneyy.png", alt="logo")
						span Webmoney WMZ
				.payment-method__item
					a.payment-method__card.btcltc(href="javascript:void(0)")
						img(src="s/images/useful/btcltc.png", alt="logo")
						span BTC / LTC
				.payment-method__item.payeer
					a.payment-method__card(href="javascript:void(0)")
						img(src="s/images/useful/payeer.png", alt="logo")
						span Payeer
				.payment-method__item.advcash
					a.payment-method__card(href="javascript:void(0)")
						img(src="s/images/useful/advcash.png", alt="logo")
						span Advcash
				.payment-method__item.yamoney
					a.payment-method__card(href="javascript:void(0)")
						img(src="s/images/useful/yamoney.png", alt="logo")
						span Yandex money
				.payment-method__item.qiwii
					a.payment-method__card(href="javascript:void(0)")
						img(src="s/images/useful/qiwii.png", alt="logo")
						span QIWI
