.payment-method {
    &__cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
        @media (max-width: $sw-xx-max) {
            max-width: none;
        }
    }
    &__item {
        width: calc(100% / 3);
        padding: 0 1rem;
        margin-bottom: 1.5rem;
        @media (max-width: $sw-xx-max) {
            width: calc(100% / 2);
        }
        @media (max-width: 500px) {
            width: 100%;
        }
        a {
            color: $white;
        }

    }
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        background-color: transparent;
        border: 1px solid $shark2;
        padding: 1.7rem 1rem;
        font-size: 1.2rem;
        height: 11.2rem;
        transition: background-color 0.3s ease;
        @media (max-width: $sw-xs-max) {
            padding: 1rem 1rem;
            height: 10rem;
        }

        &:hover {
            @media (min-width: $sw-xs-min) {
                background-color: $shark3;
            }
        }
        &:active {
            @media (min-width: $sw-xs-min) {
                background-color: #26292e;
            }
        }
        &__title {
            font-size: 1.2rem;
            color: $aluminium;
            margin-bottom: 8px;
        }
        img {
            margin-bottom: 1.7rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 1rem;
            }
        }
    }
    .webMoneyy {
        font-size: 1.3rem;
    }
    .btcltc {
        font-size: 1.7rem;
    }
}