.type-of-accounts {
    .title {
        margin-bottom: 3.5rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2rem;
        }
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
        padding-bottom: 1.5rem;
        margin-bottom: 2.5rem;
        @media (max-width: $sw-sm-max) {
            max-width: none;
        }

    }
    &__item {
        width: calc(100% / 3);
        padding: 0 1rem;
        margin-bottom: 1.8rem;
        @media (max-width: $sw-xs-max) {
            padding: 0 5px;
            margin-bottom: 1rem;
        }
        @media (max-width: 650px) {
            width: calc(100% / 2);
            padding: 0 1rem;
            margin-bottom: 2rem;
        }
        @media (max-width: 450px) {
            width: 100%;
            padding: 0 1rem;
            margin-bottom: 2rem;
        }

    }
    &__card {
        background-color: $shark3;
        height: 100%;
        &__top {
            width: 100%;
            height: 12.7rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 2.2rem;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid $shark2;
            @media (max-width: $sw-xs-max) {
                height: 11rem;
            }
            &__gold {
                font-size: 1.5rem;
            }
            img {
                margin-bottom: 7px;
            }
            h2 {
                font-size: 2.5rem;
                margin-bottom: 9px;
                @media (max-width: $sw-xs-max) {
                    font-size: 2.2rem;
                    margin-bottom: 5px;
                }
            }
            span {
                b {
                    font-weight: 700;
                    font-size: 1.2rem;
                }
            }
        }
        .another-digression {
            h2 {
                margin-bottom: 5px;
            }
        }
        .another-img {
            img {
                width: 6.6rem;
            }
        }
        .yellow-text {
            span {
                color: $rajah2;
            }
        }
        &__item {
            width: 100%;
            min-height: 4.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.2rem 1rem;
            @media (max-width: $sw-xs-max) {
                padding: 1rem;
            }

            &:not(:last-child) {
                border-bottom: 1px solid $shark2;
            }
            img {
                max-width: 1.7rem;
                margin-right: 1rem;
                @media (max-width: $sw-xs-max) {
                    margin-right: 5px;
                }
            }
        }
        .dagger {
            img {
                width: 8px;
                margin-right: 0;
            }
        }
        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.6rem;
            @media (max-width: $sw-xs-max) {
                padding: 1.3rem;
            }
        }
    }
}