mixin type-of-accounts(data)
	.type-of-accounts
		.type-of-accounts__inner
			.title
				h2 Тип счетов
			.type-of-accounts__cards
				.type-of-accounts__item
					.type-of-accounts__card
						.type-of-accounts__card__top
							img(src="s/images/useful/free.png", alt="logo")
							h2 Free
							span Депозит не требуется
						.type-of-accounts__card__item
							img(src="s/images/useful/bring-out.png", alt="logo")
							span Вывод средств недоступен
						.type-of-accounts__card__item
							img(src="s/images/useful/trophy.png", alt="logo")
							span Free турниры
						.type-of-accounts__card__item.dagger
							img(src="s/images/useful/dagger.png", alt="logo")
						.type-of-accounts__card__item.dagger
							img(src="s/images/useful/dagger.png", alt="logo")
						.type-of-accounts__card__item.dagger
							img(src="s/images/useful/dagger.png", alt="logo")
						.type-of-accounts__card__button
							button.btn.active(type="button")
								span Текущий статус
				.type-of-accounts__item
					.type-of-accounts__card
						.type-of-accounts__card__top
							img(src="s/images/useful/standart.png", alt="logo")
							h2 Standard
							span #[b 10.00 $ +]
						.type-of-accounts__card__item
							img(src="s/images/useful/bring-out.png", alt="logo")
							span Вывод средств до 3 дней
						.type-of-accounts__card__item
							img(src="s/images/useful/trophy.png", alt="logo")
							span #[b Standard] турниры
						.type-of-accounts__card__item
							img(src="s/images/useful/yield.png", alt="logo")
							span Максимальная доходность #[.thin-text 84%]
						.type-of-accounts__card__item
							img(src="s/images/useful/bonus.png", alt="logo")
							span Максимальный бонус #[.thin-text 80%]
						.type-of-accounts__card__item.dagger
							img(src="s/images/useful/dagger.png", alt="logo")
						.type-of-accounts__card__button
							button.btn(type="submit")
								span Открыть счет
				.type-of-accounts__item
					.type-of-accounts__card
						.type-of-accounts__card__top.gold
							img(src="s/images/useful/gold.png", alt="logo")
							h2 Gold
							.type-of-accounts__card__top__gold
								span 500.00 $ +
						.type-of-accounts__card__item
							img(src="s/images/useful/bring-out.png", alt="logo")
							span Вывод средств до 24 часов
						.type-of-accounts__card__item
							img(src="s/images/useful/trophy.png", alt="logo")
							span #[b Gold] турниры
						.type-of-accounts__card__item
							img(src="s/images/useful/yield.png", alt="logo")
							span Максимальная доходность #[.thin-text 84%]
						.type-of-accounts__card__item
							img(src="s/images/useful/bonus.png", alt="logo")
							span Максимальный бонус #[.thin-text 80%]
						.type-of-accounts__card__item.dagger
							img(src="s/images/useful/dagger.png", alt="logo")
						.type-of-accounts__card__button
							button.btn(type="submit")
								span Открыть счет
				.type-of-accounts__item
					.type-of-accounts__card
						.type-of-accounts__card__top.yellow-text.another-digression
							img(src="s/images/useful/premium.png", alt="logo")
							h2 Premium
							.type-of-accounts__card__top__gold
								span 1,000.00 $ +
						.type-of-accounts__card__item
							img(src="s/images/useful/bring-out.png", alt="logo")
							span Моментальный вывод
						.type-of-accounts__card__item
							img(src="s/images/useful/trophy.png", alt="logo")
							span #[b Vip] турниры
						.type-of-accounts__card__item
							img(src="s/images/useful/yield.png", alt="logo")
							span Максимальная доходность #[.thin-text 90%]
						.type-of-accounts__card__item
							img(src="s/images/useful/bonus.png", alt="logo")
							span Максимальный бонус #[.thin-text 100%]
						.type-of-accounts__card__item
							img(src="s/images/useful/small-logo.png", alt="logo")
							span Индивидуальные предложения
						.type-of-accounts__card__button
							button.btn(type="submit")
								span Открыть счет
				.type-of-accounts__item
					.type-of-accounts__card
						.type-of-accounts__card__top.yellow-text.another-digression.another-img
							img(src="s/images/useful/vip.png", alt="logo")
							h2 Vip
							.type-of-accounts__card__top__gold
								span 2,500.00 $ +
						.type-of-accounts__card__item
							img(src="s/images/useful/bring-out.png", alt="logo")
							span Моментальный вывод
						.type-of-accounts__card__item
							img(src="s/images/useful/trophy.png", alt="logo")
							span #[b Vip] турниры
						.type-of-accounts__card__item
							img(src="s/images/useful/yield.png", alt="logo")
							span Максимальная доходность #[.thin-text 90%]
						.type-of-accounts__card__item
							img(src="s/images/useful/bonus.png", alt="logo")
							span Максимальный бонус #[.thin-text 100%]
						.type-of-accounts__card__item
							img(src="s/images/useful/small-logo.png", alt="logo")
							span Индивидуальные предложения
						.type-of-accounts__card__button
							button.btn(type="submit")
								span Открыть счет



